{{!<form>}}
    <fieldset>
        <div role="radiogroup">
            <label>
                <input type="radio" name="type" value="" checked={{if (eq value '') 'checked'}} onchange={{action onchange}} />
                <span>All (0000000000)</span>
            </label>
            <label>
                <input type="radio" name="type" value="management" checked={{if (eq value 'management') 'checked'}} onchange={{action onchange}} />
                <span>Management (0000000000)</span>
            </label>
            <label>
                <input type="radio" name="type" value="client" checked={{if (eq value 'client') 'checked'}} onchange={{action onchange}} />
                <span>Client (0000000000)</span>
            </label>
        </div>
    </fieldset>
    {{freetext-filter onchange=(action onchange) value=search placeholder="Search by name"}}
{{!</form>}}
