<header>
    <a href={{href}}>
        <span>{{name}}</span>
        <strong>
            {{address}}
        </strong>
    </a>
</header>
<ul>
    {{#each checks as |check| }}
        <li>
            <a href={{href}}>{{! check.CheckID }}
                <strong>{{ check.Status }}</strong>
                <span>{{ check.Name }}</span>
            </a>
        </li>
    {{/each}}
</ul>