<header>
    <a href={{href}}>{{name}}<span>{{address}}</span></a>
</header>
<ul>
    {{#each checks as |check| }}
        <li>
            <a href={{href}}>{{! check.CheckID }}
                <strong>{{ check.Status }}</strong>
                <span>{{ check.Name }}</span>
            </a>
        </li>
    {{/each}}
</ul>