            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>ID</th>
                        <th>Delay</th>
                        <th>TTL</th>
                        <th>Behavior</th>
                        <th>Checks</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                {{#tabular-collection
                    items=items
                    cell-layout=(fixed-grid-layout 1150 46) as |item index|
                }}
                    <td>
                        <a href={{href-to 'dc.services.show' item.Name}}>{{item.Name}}</a>
                    </td>
                    <td>
                        {{item.ID}}
                    </td>
                    <td>
                        {{item.LockDelay}}
                    </td>
                    <td>
                        {{item.TTL}}
                    </td>
                    <td>
                        {{item.Behavior}}
                    </td>
                    <td>
                        {{item.Checks}}
                        <ul>
                            {{#each item.Checks as check }}
                                <li>{{check}}</li>
                            {{/each}}
                        </ul>
                    </td>
                    <td>
                        <button type="button" class="type-delete" {{ action "requestInvalidateSession" item }}>Invalidate</button>
                    </td>
                {{/tabular-collection}}
            </table>
