{{on-window 'resize' (action "resize") }}
<Portal @target="modal">
  {{yield}}
  <div {{ref this 'modal'}}  ...attributes>
    <input id={{name}} type="radio" name="modal" data-checked="{{checked}}" checked={{checked}} onchange={{action 'change'}} />
    <div role="dialog" aria-modal="true">
      <label for="modal_close"></label>
      <div>
        <div>
          <header>
            <label for="modal_close">Close</label>
            <YieldSlot @name="header">
              {{yield (hash
                close=(action "close")
              )}}
            </YieldSlot>
          </header>
          <div>
            <YieldSlot @name="body">
              {{yield (hash
                close=(action "close")
              )}}
            </YieldSlot>
          </div>
          <footer>
            <YieldSlot @name="actions" @params={{block-params (action "close")}}>
              {{yield (hash
                close=(action "close")
              )}}
            </YieldSlot>
          </footer>
        </div>
      </div>
    </div>
  </div>
</Portal>