<div class="stats">
  {{#if @data }}
    {{#each @data as |stat|}}
    <dl>
      <dt>
        {{stat.value}}
      </dt>
      <dd>
        {{stat.label}}
      </dd>
      <Tooltip>{{{stat.desc}}}</Tooltip>
    </dl>
    {{else}}
      <span>No Metrics Available</span>
    {{/each}}
  {{else if @error}}
    <span>Unable to load Metrics</span>
  {{else}}
    <span class="loader">Loading Metrics</span>
  {{/if}}
</div>