<fieldset class="freetext-filter">
    <label class="type-search">
        <span>Search</span>
        <input type="search" onsearch={{action "change"}} oninput={{action "change"}} onkeydown={{action "keydown"}} name="s" value={{value}} placeholder={{placeholder}} autofocus="autofocus" />
    </label>
</fieldset>