{{title 'Nodes'}}
{{#let (selectable-key-values
    (array "Node:asc" "A to Z")
    (array "Node:desc" "Z to A")
      selected=sortBy
  )
  as |sort|
}}
<AppView @class="node list">
  <BlockSlot @name="header">
    <h1>
      Nodes <em>{{format-number items.length}} total</em>
    </h1>
    <label for="toolbar-toggle"></label>
  </BlockSlot>
  <BlockSlot @name="toolbar">
{{#if (gt items.length 0) }}
    <CatalogToolbar
      @searchable={{array searchable}}
      @value={{search}}
      @selected={{sort.selected}}
      @options={{sort.items}}
      @onchange={{action (mut sortBy) value='target.selected.key'}}
    />
{{/if}}
  </BlockSlot>
  <BlockSlot @name="content">
{{#if (gt items.length 0) }}
      <div class="unhealthy">
        <div>
          <ul>
            <ChangeableSet @dispatcher={{searchable}}>
              <BlockSlot @name="set" as |items|>
                {{#each (sort-by sort.selected.key items) as |item|}}
                  <HealthcheckedResource
                    @tagName="li"
                    @data-test-node={{item.Node}}
                    @href={{href-to "dc.nodes.show" item.Node}}
                    @name={{item.Node}}
                    @address={{item.Address}}
                    @checks={{item.Checks}}>
                    <BlockSlot @name="icon">
                      {{#if (eq item.Address leader.Address)}}
                        <span data-test-leader={{leader.Address}} data-tooltip="Leader">Leader</span>
                      {{/if}}
                    </BlockSlot>
                  </HealthcheckedResource>
                {{/each}}
              </BlockSlot>
              <BlockSlot @name="empty">
                <p>
                  There are no nodes for that search.
                </p>
              </BlockSlot>
            </ChangeableSet>
          </ul>
        </div>
      </div>
{{/if}}
  </BlockSlot>
</AppView>
{{/let}}