{{title 'Nodes'}}
<AppView @class="node list">
  <BlockSlot @name="header">
    <h1>
      Nodes <em>{{format-number items.length}} total</em>
    </h1>
    <label for="toolbar-toggle"></label>
  </BlockSlot>
  <BlockSlot @name="toolbar">
{{#if (gt items.length 0) }}
    <CatalogToolbar
      @searchable={{array searchable}} 
      @value={{search}} 
      @selected={{if sortBy (find-by 'key' sortBy sortOptions) sortOptions.firstObject}}
      @options={{sortOptions}} 
      @onchange={{action (mut sortBy) value='target.selectedOption.key'}} 
    />
{{/if}}
  </BlockSlot>
  <BlockSlot @name="content">
{{#if (gt items.length 0) }}
      <div class="unhealthy">
        <div>
          <ul>
            <ChangeableSet @dispatcher={{searchable}}>
              <BlockSlot @name="set" as |items|>
                {{#each (sort-by (if sortBy sortBy sortOptions.firstObject.key) items) as |item|}}
                  <HealthcheckedResource 
                    @tagName="li" 
                    @data-test-node={{item.Node}} 
                    @href={{href-to "dc.nodes.show" item.Node}} 
                    @name={{item.Node}} 
                    @address={{item.Address}} 
                    @checks={{item.Checks}}>
                    <BlockSlot @name="icon">
                      {{#if (eq item.Address leader.Address)}}
                        <span data-test-leader={{leader.Address}} data-tooltip="Leader">Leader</span>
                      {{/if}}
                    </BlockSlot>
                  </HealthcheckedResource>
                {{/each}}
              </BlockSlot>
              <BlockSlot @name="empty">
                <p>
                  There are no nodes for that search.
                </p>
              </BlockSlot>
            </ChangeableSet>
          </ul>
        </div>
      </div>
{{/if}}
  </BlockSlot>
</AppView>