{{title 'Nodes'}}
<EventSource @src={{items}} />
{{#let (or sortBy "Node:asc") as |sort|}}
  <AppView @class="node list">
    <BlockSlot @name="header">
      <h1>
        Nodes <em>{{format-number items.length}} total</em>
      </h1>
      <label for="toolbar-toggle"></label>
    </BlockSlot>
    <BlockSlot @name="toolbar">
    {{#if (gt items.length 0) }}
      <SearchBar
        @value={{search}}
        @onsearch={{action (mut search) value="target.value"}}
        class="with-sort"
      >
        <BlockSlot @name="secondary">
          <PopoverSelect
            @position="right"
            @onchange={{action (mut sortBy) value='target.selected'}}
            @multiple={{false}}
          as |components|>
            <BlockSlot @name="selected">
              <span>
                {{#let (from-entries (array
                      (array "Node:asc" "A to Z")
                      (array "Node:desc" "Z to A")
                      (array "Status:asc" "Unhealthy to Healthy")
                      (array "Status:desc" "Healthy to Unhealthy")
                    ))
                  as |selectable|
                }}
                  {{get selectable sort}}
                {{/let}}
              </span>
            </BlockSlot>
            <BlockSlot @name="options">
  {{#let components.Optgroup components.Option as |Optgroup Option|}}
              <Optgroup @label="Name">
                <Option @value="Node:asc" @selected={{eq "Node:asc" sort}}>A to Z</Option>
                <Option @value="Node:desc" @selected={{eq "Node:desc" sort}}>Z to A</Option>
              </Optgroup>
              <Optgroup @label="Health Status">
                <Option @value="Status:asc" @selected={{eq "Status:asc" sort}}>Unhealthy to Healthy</Option>
                <Option @value="Status:desc" @selected={{eq "Status:desc" sort}}>Healthy to Unhealthy</Option>
              </Optgroup>
  {{/let}}
            </BlockSlot>
          </PopoverSelect>
        </BlockSlot>
      </SearchBar>
    {{/if}}
    </BlockSlot>
    <BlockSlot @name="content">
    {{#let (sort-by (comparator 'node' sort) items) as |sorted|}}
      <ChangeableSet @dispatcher={{searchable 'node' sorted}} @terms={{search}}>
        <BlockSlot @name="set" as |filtered|>
          <ConsulNodeList @items={{filtered}} @leader={{leader}} />
        </BlockSlot>
        <BlockSlot @name="empty">
          <EmptyState>
            <BlockSlot @name="body">
              <p>
                There don't seem to be any registered nodes, or you may not have access to view nodes yet.
              </p>
            </BlockSlot>
          </EmptyState>
        </BlockSlot>
      </ChangeableSet>
    {{/let}}
    </BlockSlot>
  </AppView>
{{/let}}