{{title item.Node}}
<AppView @class="node show">
    <BlockSlot @name="notification" as |status type|>
      {{!TODO: Move sessions to its own folder within nodes }}
      {{partial 'dc/nodes/notifications'}}
    </BlockSlot>
    <BlockSlot @name="breadcrumbs">
        <ol>
            <li><a data-test-back href={{href-to 'dc.nodes'}}>All Nodes</a></li>
        </ol>
    </BlockSlot>
    <BlockSlot @name="header">
        <h1>
          {{ item.Node }}
        </h1>
        <label for="toolbar-toggle"></label>
    </BlockSlot>
    <BlockSlot @name="nav">
        <TabNav @items={{
          compact
              (array
                          (hash label="Health Checks" href=(href-to "dc.nodes.show.healthchecks") selected=(is-href "dc.nodes.show.healthchecks"))
                          (hash label="Services" href=(href-to "dc.nodes.show.services") selected=(is-href "dc.nodes.show.services"))
(if tomography.distances  (hash label="Round Trip Time" href=(href-to "dc.nodes.show.rtt") selected=(is-href "dc.nodes.show.rtt")) '')
                          (hash label="Lock Sessions" href=(href-to "dc.nodes.show.sessions") selected=(is-href "dc.nodes.show.sessions"))
                          (hash label="Metadata" href=(href-to "dc.nodes.show.metadata") selected=(is-href "dc.nodes.show.metadata"))
              )
        }}/>
    </BlockSlot>
    <BlockSlot @name="actions">
      <FeedbackDialog @type="inline">
          <BlockSlot @name="action" as |success error|>
              <CopyButton @success={{action success}} @error={{action error}} @clipboardText={{item.Address}} @title="copy IP address to clipboard">
                  {{item.Address}}
              </CopyButton>
          </BlockSlot>
          <BlockSlot @name="success" as |transition|>
              <p class={{transition}}>
                  Copied IP Address!
              </p>
          </BlockSlot>
          <BlockSlot @name="error" as |transition|>
              <p class={{transition}}>
                  Sorry, something went wrong!
              </p>
          </BlockSlot>
      </FeedbackDialog>
    </BlockSlot>
    <BlockSlot @name="content">
      {{outlet}}
    </BlockSlot>
</AppView>
