{{on-window 'resize' (action "calculate") }}
<div {{did-insert (action "calculate")}} class="topology-container">
{{#if true}}
  <div id="downstream-container" class="downstream-container">
    <p>Downstreams</p>
    {{#each @downstreams as |downstream|}}
    <div id="downstreamCard-{{downstream.Name}}" class="downstream-card">
      <p>
        {{downstream.Name}}
      </p>
      <div class="details">
        <span class="datacenter">{{downstream.Datacenter}}</span>
        <span class="passing">80%</span>
        <span class="critical">20%</span>
      </div>
    </div>
    {{/each}}
  </div>
  <div id="metrics-container" class="metrics-container">
    <div class="metrics-header">
      {{@item.Service.Service}}
    </div>
    <div class="grafana-link">
      <a href="#">Open Grafana Dashboard</a>
    </div>
  </div>
  <div  id="downstream-lines" class="downstream-lines">
    {{#if (gt this.downCardDimensions.length 0)}}
    <svg
      viewBox={{concat downView.x ' ' downView.y ' ' downView.width ' ' downView.height}}
      preserveAspectRatio="none"
    >
    {{#each this.downCardDimensions as |svg| }}
      <g>
        <path
          class="line-fill"
          id={{concat 'downstream-' svg.id}}
          d={{svg.line}}
        />
        <circle
          class="line-circle"
          cx={{add svg.x svg.width}}
          cy={{add svg.y (div svg.height 2)}}
          r="5"
        />
      </g>
    {{/each}}

      <polygon class="line-arrow"
        points={{this.toMetricsArrow}}
      />
    </svg>
    {{/if}}
  </div>
{{/if}}
{{#if true}}
  <div class="upstream-container">
    <p>Upstreams</p>
    {{#each @upstreams as |upstream|}}
    <div id="upstreamCard-{{upstream.Name}}" class="upstream-card">
      <p>
        {{upstream.Name}}
      </p>
      <div class="details">
        <span class="datacenter">{{upstream.Datacenter}}</span>
        <span class="passing">80%</span>
        <span class="critical">20%</span>
      </div>
    </div>
    {{/each}}
  </div>
  <div id="upstream-lines" class="upstream-lines">
  {{#if (gt this.upCardDimensions.length 0)}}
    <svg viewBox={{concat this.centerDimensions.x ' ' upView.y ' ' upView.width ' ' upView.height}} preserveAspectRatio="none">
    {{#each this.upCardDimensions as |svg| }}
      <g>
        <path id={{concat 'upstream-' svg.id}} class="line-fill" d={{svg.line}} />
        <polygon class="line-arrow"
          points={{svg.arrow}}
        />
      </g>
    {{/each}}

      <circle
        class="line-circle"
        cx={{add this.centerDimensions.x 6}}
        cy={{add this.centerDimensions.y (div this.centerDimensions.height 4)}}
        r="5"
      />
    </svg>
  {{/if}}
  </div>
{{/if}}
</div>