{{#app-view}}
    {{#block-slot 'header'}}
        <h1>
            {{key.basename}}
        </h1>
    {{/block-slot}}
    {{#block-slot 'content'}}
        <form>
            <fieldset>
                <label class="type-text">
                    <span>Key Name</span>
                    <input type="text" value={{key.basename}} />
                </label>
                <div>
                    <label class="type-toggle">
                        <span>JSON</span>
                        {{ input type="checkbox" checked=json }}
                    </label>
                    <label class="type-text">
                        <span>Value</span>
{{#if json}}
                        {{ code-editor value=key.valueDecoded disabled=model.isLocked }}
{{else}}
                        {{ input type="text" value=key.valueDecoded disabled=model.isLocked }}
{{/if}}
                    </label>
                </div>
            </fieldset>
            {{!if (or model.isLocked model.isLoading)}}
            <button type="submit" {{action "update" key}}>Save</button>
            <button {{action "cancel" key}} disabled={{model.isLoading}}>Cancel changes</button>

            {{!if (or model.isLocked model.isLoading)}}
            <button {{action "requestDelete" key }}>Delete</button>
        </form>

        {{#if key.isLocked}}
            <div>
                <h2>Lock Session</h2>
                <dl>
                    <dt>Name</dt>
                    <dd>{{session.Name}}</dd>
                    <dt>ID</dt>
                    <dd>{{session.ID}}</dd>
                    <dt>Behavior</dt>
                    <dd><{{session.Behavior}}/dd>
                    <dt>Delay</dt>
                    <dd><{{session.Delay}}/dd>
                    <dt>TTL</dt>
                    <dd>{{session.TTL}}</dd>
                    <dt>Health Checks</dt>
                    <dd>Checks in here</dd>
                </dl>
                <button {{ action "requestInvalidateSession" session }}>Invalidate</button>
            </div>
        {{/if}}
    {{/block-slot}}
{{/app-view}}