    <div class="row">
      <div class="col-md-6 col-lg-5 padded-right-middle">
        <h4 class="breadcrumbs"><a href="" {{action 'linkToKey' grandParentKey }}>{{parentKey}}</a> <a href="" {{action 'linkToKey' parentKey }}>+</a></h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-5 padded-right-middle">
          {{#each siblings as |item| }}
            {{#link-to item.linkToRoute item.Key tagName="div" href=false class="list-group-item list-condensed-link" }}
              <div class="{{if item.isFolder "bg-gray" "bg-light-gray" }} list-bar-horizontal"></div>
              <div class="name">
                {{item.keyWithoutParent}}
              </div>
            {{/link-to}}
          {{/each}}
      </div>

      <div class="border-left hidden-xs hidden-sm">
      </div>

      <div class="visible-xs visible-sm">
        <hr>
      </div>

      <div class="col-md-6 col-lg-7 border-left sticky-scroll">
        <div class="padded-border">

          <div class="panel">
              <div class="panel-bar {{if isLoading "bg-orange" "bg-green"}}{{if isLocked "bg-light-grey"}}"></div>
            <div class="panel-heading">
              <h4 class="panel-title {{if isLocked "locked"}}">
                {{model.Key}}
                {{#if model.isLocked}}
                <small class="pull-right">
                    KEY LOCKED
                </small>
                {{/if}}
              </h4>
            </div>

            <div class="panel-body panel-form">
              <div class="form-group">
                {{errorMessage}}
              </div>
              <form class="form">
                <div class="form-group {{if model.validateJson "validate"}} {{if model.isValidJson "success" "error"}}">
                    {{ textarea value=model.valueDecoded class="form-control" disabled=model.isLocked}}
                </div>
                <button {{action "updateKey"}} disabled={{isLockedOrLoading}} class="btn {{if isLoading "btn-warning" "btn-success"}}">Update</button>
                <button {{action "cancelEdit"}} disabled={{isLoading}} class="btn {{if isLoading "btn-warning" "btn-default"}}">Cancel</button>
                <label class="form-checkbox">{{ input type="checkbox" checked=model.validateJson }}Validate JSON</label>
                <button {{action "deleteKey"}} disabled={{isLockedOrLoading}} class="btn pull-right {{if isLoading "btn-warning" "btn-danger"}}">Delete key</button>
              </form>
            </div>
          </div>

          {{#if model.isLocked}}
            <h5>Lock Session</h5>

            {{#link-to 'dc.nodes.show' session.Node tagName="div" href=false class="list-group-item list-condensed-link" }}
              <div class="bg-light-gray list-bar-horizontal"></div>
              <div class="name">
                <span>{{session.Name}}</span>
                <small>{{session.ID}}</small>
                <small class="pull-right">
                  {{session.Node}}
                </small>
              </div>
            {{/link-to}}
          {{/if}}

        </div>
      </div>

    </div>