<h1>
    <a href="" {{action 'linkToKey' grandParentKey }}>{{parentKey}}</a>
    <a href="" {{action 'linkToKey' parentKey }}>+</a>
</h1>
<ul>
{{#each siblings as |item| }}
    <li>
        {{#link-to item.linkToRoute item.Key tagName="div" href=false class="list-group-item list-condensed-link" }}
            {{!if item.isFolder "bg-gray" "bg-light-gray" }}
            {{item.basename}}
        {{/link-to}}
    </li>
{{/each}}
</ul>
<form>
    <p>
        {{errorMessage}}
    </p>
    <fieldset>
        <legend>
            {{key.Key}}
{{#if key.isLocked}}
            KEY LOCKED
{{/if}}
        </legend>
        <label>
            {{ textarea value=key.valueDecoded class="form-control" disabled=model.isLocked}}
        </label>
        <label>
            {{ input type="checkbox" checked=key.validateJson }}
            <span>Validate JSON</span>
        </label>
    </fieldset>
    <button {{action "update" key}} disabled={{isLockedOrLoading}}>Update</button>
    <button {{action "cancel" key}} disabled={{isLoading}}>Cancel</button>
    <button {{action "delete" key }} disabled={{isLockedOrLoading}}>Delete key</button>
</form>

{{#if key.isLocked}}
    <h2>Lock Session</h2>
    {{#link-to 'dc.nodes.show' session.Node }}
        {{session.Name}} - {{session.ID}} - {{session.Node}}
    {{/link-to}}
{{/if}}