{{#app-view}}
    {{#block-slot 'header'}}
        <h1>
            {{item.basename}}
        </h1>
    {{/block-slot}}
    {{#block-slot 'content'}}
        <form>
            <fieldset>
{{#if create }}
                <label class="type-text">
                    <span>Key Name</span>
                    <input type="text" value={{item.basename}} name="basename" onkeyup={{action 'change'}} />
                    <em>To create a folder, end a key with <code>/</code></em>
                </label>
{{/if}}
                <div>
                    {{! temporary style attr until I can make a id/class adder }}
                    <label class="type-toggle" style="float: right;z-index: 1;margin-bottom: 0">
                        <input type="checkbox" name="json" checked={{if json 'checked' }} onchange={{action 'change'}} />
                        <span>JSON</span>
                    </label>
                    <label class="type-text">
                        <span>Value</span>
{{#if json}}
                        {{ code-editor value=(atob item.Value) onkeyup=(action 'change') disabled=item.isLocked }}
{{else}}
                        <input type="text" name="value" value={{atob item.Value}} onkeyup={{action 'change'}} />
{{/if}}
                    </label>
                </div>
            </fieldset>
            {{!if (or model.isLocked model.isLoading)}}
{{#if (not create) }}
            <button type="submit" {{ action "update" item}}>Save</button>
{{ else }}
            <button type="submit" {{ action "create" item parentKey}}>Save</button>
{{/if}}
            <a rel="back" href={{href-to 'dc.kv.index'}}>Cancel changes</a>

            {{!if (or item.isLocked isLoading)}}
                <div class="with-confirmation">
                    <p>
                        Are you sure you want to delete {{item.basename}}?
                    </p>
                    <button type="button" class="type-delete" {{ action "requestDelete" item}}>Delete</button>
                    <button type="button" class="type-cancel" {{ action "requestDelete" item}}>Cancel</button>
                </div>
        </form>

        {{#if key.isLocked}}
            <div>
                <h2>Lock Session</h2>
                <dl>
                    <dt>Name</dt>
                    <dd>{{session.Name}}</dd>
                    <dt>ID</dt>
                    <dd>{{session.ID}}</dd>
                    <dt>Behavior</dt>
                    <dd><{{session.Behavior}}/dd>
                    <dt>Delay</dt>
                    <dd><{{session.Delay}}/dd>
                    <dt>TTL</dt>
                    <dd>{{session.TTL}}</dd>
                    <dt>Health Checks</dt>
                    <dd>Checks in here</dd>
                </dl>
                <button type="button" class="type-delete" {{ action "requestInvalidateSession" session }}>Invalidate Session</button>
            </div>
        {{/if}}
    {{/block-slot}}
{{/app-view}}