{{#app-view}}
    {{#block-slot 'header'}}
        <h1>
            {{key.basename}}
        </h1>
    {{/block-slot}}
    {{#block-slot 'content'}}
        <form>
            <fieldset>
                <label class="type-text">
                    <span>Key Name</span>
                    <input type="text" value={{key.basename}} />
                    <em>To create a folder, end a key with <code>/</code></em>
                </label>
                <div>
                    {{! temporary style attr until I can make a id/class adder }}
                    <label class="type-toggle" style="float: right;z-index: 1;margin-bottom: 0">
                        {{ input type="checkbox" checked=json }}
                        <span>JSON</span>
                    </label>
                    <label class="type-text">
                        <span>Value</span>
{{#if json}}
                        {{ code-editor value=key.valueDecoded disabled=model.isLocked }}
{{else}}
                        {{ input type="text" value=key.valueDecoded disabled=model.isLocked }}
{{/if}}
                    </label>
                </div>
            </fieldset>
            {{!if (or model.isLocked model.isLoading)}}
            <button type="submit" {{action "update" key}}>Save</button>
            <button type="button" {{action "cancel" key}} disabled={{model.isLoading}}>Cancel changes</button>

            {{!if (or model.isLocked model.isLoading)}}
                <div class="with-confirmation">
                    <p>
                        Are you sure you want to delete {{key.basename}}?
                    </p>
                    <button type="button" class="type-delete" {{ action "requestDelete" model}}>Delete</button>
                    <button type="button" class="type-cancel" {{ action "requestDelete" model}}>Cancel</button>
                </div>
        </form>

        {{#if key.isLocked}}
            <div>
                <h2>Lock Session</h2>
                <dl>
                    <dt>Name</dt>
                    <dd>{{session.Name}}</dd>
                    <dt>ID</dt>
                    <dd>{{session.ID}}</dd>
                    <dt>Behavior</dt>
                    <dd><{{session.Behavior}}/dd>
                    <dt>Delay</dt>
                    <dd><{{session.Delay}}/dd>
                    <dt>TTL</dt>
                    <dd>{{session.TTL}}</dd>
                    <dt>Health Checks</dt>
                    <dd>Checks in here</dd>
                </dl>
                <button type="button" class="type-delete" {{ action "requestInvalidateSession" session }}>Invalidate Session</button>
            </div>
        {{/if}}
    {{/block-slot}}
{{/app-view}}