{{#app-view}}
    {{#block-slot 'header'}}
        <h1>
            {{item.basename}}
        </h1>
    {{/block-slot}}
    {{#block-slot 'content'}}
        <form>
            <fieldset>
                <label>
                    <span>Key Name</span>
                    <input type="text" value={{item.basename}} />
                </label>
                <div>
                    <label>
                        <span>JSON</span>
                        {{ input type="checkbox" }}
                    </label>
                    <label>
                        <span>Value</span>
                        {{ textarea value=key.valueDecoded class="form-control" disabled=model.isLocked}}
                    </label>
                </div>
            </fieldset>
            {{!if (or model.isLocked model.isLoading)}}
            <button {{action "update" key}} disabled>Save</button>
            <button {{action "cancel" key}} disabled={{model.isLoading}}>Cancel changes</button>

            {{!if (or model.isLocked model.isLoading)}}
            <button {{action "requestDelete" key }}>Delete</button>
        </form>

        {{#if key.isLocked}}
            <h2>Lock Session</h2>
            <dl>
                <dt>Name</dt>
                <dd>{{session.Name}}</dd>
                <dt>ID</dt>
                <dd>{{session.ID}}</dd>
                <dt>Behavior</dt>
                <dd><{{session.Behavior}}/dd>
                <dt>Delay</dt>
                <dd><{{session.Delay}}/dd>
                <dt>TTL</dt>
                <dd>{{session.TTL}}</dd>
                <dt>Health Checks</dt>
                <dd>Checks in here</dd>
            </dl>
            <button {{ action "requestInvalidateSession" session }}>Invalidate</button>
        {{/if}}
    {{/block-slot}}
{{/app-view}}