{{#app-view}}
    {{#block-slot 'header'}}
        <h1>
            Key / Value
        </h1>
    {{/block-slot}}
    {{#block-slot 'actions'}}
        <a href="{{href-to 'dc.kv.create' parentKey}}" class="type-create">Create</a>
    {{/block-slot}}
    {{#block-slot 'content'}}
{{#if (gt items.length 0)}}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Lock Session</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {{#tabular-collection
                items=items
                cell-layout=(fixed-grid-layout 1150 46) as |item index|
            }}
                    <td class={{if item.isFolder "folder" "file" }}>
                        <a href={{href-to item.linkToRoute item.Key}}>{{item.basename}}</a>
                    </td>
                    <td>
                        Value (need to change API call to get this)
                    </td>
                    <td>
                        Lock Session (need to change API call to get this)
                    </td>
                    <td>
                        &nbsp;
                    </td>
            {{/tabular-collection}}
        </table>
{{else}}
        <p>There are no Key / Value pairs.</p>
{{/if}}
    {{/block-slot}}
{{/app-view}}