<h1>
    <a href="" {{action 'linkToKey' grandParentKey }}>{{parentKey}}</a> <a href="" {{action 'linkToKey' parentKey }}>+</a>
</h1>
{{#each keys as |item| }}
    {{#link-to item.linkToRoute item.Key }}
        {{!if item.isFolder "bg-gray" "bg-light-gray" }}
        {{item.basename}}
    {{/link-to}}
{{/each}}
<h2>
    Create Key
</h2>
<form>
    <p>
        {{errorMessage}}
    </p>
    <fieldset>
        {{!if newKey.keyValid "valid" }}
        <label>
            <span>{{parentKey}}</span>
            {{ input value=newKey.Key required=true }}
            <p>
                To create a folder, end the key with <code>/</code>
            </p>
        </label>
{{#if newKey.isFolder }}
        <p>
            No value needed for nested keys.
        </p>
{{else}}
        {{!if newKey.validateJson "validate" }} {{!if newKey.isValidJson "success" "error" }}
        <label>
            {{ textarea value=newKey.Value class="form-control"}}
            <p>
                Value can be any format and length
            </p>
        </label>
        <label>
            {{ input type="checkbox" checked=newKey.validateJson }}
            <span>Validate JSON</span>
        </label>
{{/if}}
    </fieldset>
    <button {{ action "create" newKey parentKey grandParentKey}} disabled="{{if newKey.isInvalid "disabled"}}">Create</button>
    <button {{ action "requestDeleteFolder" parentKey grandParentKey}}>Delete folder</button>
</form>