<DataSource
  @src={{uri nspace dc 'metrics' 'summary-for-service' @service @protocol}}
  @onchange={{action 'change'}}
  @onerror={{action (mut error) value="error"}}
/>

  {{on-window 'resize' (action 'redraw')}}
  <div class="sparkline-wrapper">
    <div class="tooltip">
      <div class="sparkline-time">Timestamp</div>
    </div>
{{#if error}}
    <div class="sparkline-error">Unable to load Metrics</div>
{{else}}
    <div class="sparkline-loader"><span>Loading Metrics</span></div>
    <svg class="sparkline"></svg>
{{/if}}
  </div>

