<div ...attributes>
{{yield}}
  <YieldSlot @name="create">{{yield}}</YieldSlot>
  <label class="type-text">
    <span><YieldSlot @name="label">{{yield}}</YieldSlot></span>
    {{#if isOpen}}
      <DataSource
        @src={{concat '/' (or nspace 'default') '/' dc '/' (pluralize type)}}
        @onchange={{action (mut allOptions) value="data"}}
      />
    {{/if}}
      <PowerSelect
          @search={{action "search"}}
          @options={{options}}
          @loadingMessage="Loading..."
          @searchMessage="No possible options"
          @searchPlaceholder={{placeholder}}
          @onOpen={{action (mut isOpen) true}}
          @onClose={{action (mut isOpen) false}}
          @onChange={{action "change" "items[]" items}} as |item|>
        <YieldSlot @name="option" @params={{block-params item}}>{{yield}}</YieldSlot>
      </PowerSelect>
  </label>
{{#if (gt items.length 0)}}
  <YieldSlot @name="set">{{yield}}</YieldSlot>
{{else}}

{{/if}}
</div>