{{#if (gt items.length 0)}}
<ListCollection @items={{items}} @linkable={{action "isLinkable"}} class="consul-service-list" as |item index|>
  <BlockSlot @name="header">
{{#let (get proxies item.Name) as |proxy|}}
  {{#let (service/health-checks item proxy) as |health|}}
    <dl class={{health}}>
      <dt>
        Health
      </dt>
      <dd>
        <Tooltip @position="top-start">
          {{#if (eq 'critical' health)}}
            At least one health check on one instance is failing.
          {{else if (eq 'warning' health)}}
            At least one health check on one instance has a warning.
          {{else if (eq 'passing' health)}}
            All health checks are passing.
          {{else}}
            There are no health checks.
          {{/if}}
        </Tooltip>
      </dd>
    </dl>
  {{/let}}
{{/let}}
{{#if (gt item.InstanceCount 0)}}
  {{#if (eq item.Kind 'terminating-gateway')}}
    <a data-test-service-name href={{href-to "dc.services.show.services" item.Name}}>
      {{item.Name}}
    </a>
  {{else if (eq item.Kind 'ingress-gateway')}}
    <a data-test-service-name href={{href-to "dc.services.show.upstreams" item.Name}}>
      {{item.Name}}
    </a>
  {{else}}
    <a data-test-service-name href={{href-to "dc.services.show.instances" item.Name}}>
      {{item.Name}}
    </a>
  {{/if}}
{{else}}
  <p data-test-service-name>
      {{item.Name}}
  </p>
{{/if}}
  </BlockSlot>
  <BlockSlot @name="details">
{{#if (and nspace (env 'CONSUL_NSPACES_ENABLED'))}}
  {{#if (not-eq item.Namespace nspace)}}
    <dl class="nspace">
      <dt>
        <Tooltip>
            Namespace
        </Tooltip>
      </dt>
      <dd>
        {{item.Namespace}}
      </dd>
    </dl>
  {{/if}}
{{/if}}
    <ConsulKind @item={{item}} />
    <ConsulExternalSource @item={{item}} />
  {{#if (not-eq item.InstanceCount 0)}}
    <span>
      {{format-number item.InstanceCount}} {{pluralize item.InstanceCount 'Instance' without-count=true}}
    </span>
  {{/if}}
  {{#if (get proxies item.Name)}}
    <dl class="proxy">
      <dt>
        <Tooltip>
          This service uses a proxy for the Consul service mesh
        </Tooltip>
      </dt>
      <dd data-test-proxy>
        connected with proxy
      </dd>
    </dl>
  {{/if}}
    <TagList @item={{item}} />
  </BlockSlot>
</ListCollection>
{{/if}}