{{yield}}
{{#if (gt items.length 0)}}
<ListCollection @cellHeight={{73}} @items={{items}} class="consul-service-list" as |item index|>
  <a data-test-service-name href={{href-to routeName item.Name}} class={{service/health-checks item}}>
    {{item.Name}}
  </a>
  <ul>
    <ConsulKind @item={{item}} as |Kind|>
      <li>
        <Kind />
      </li>
    </ConsulKind>
    <ConsulExternalSource @item={{item}} as |ExternalSource|>
      <li>
        <ExternalSource />
      </li>
    </ConsulExternalSource>
  {{#if (not-eq item.InstanceCount 0)}}
    <li>
      {{format-number item.InstanceCount}} {{pluralize item.InstanceCount 'Instance' without-count=true}}
    </li>
  {{/if}}
  {{#if (get proxies item.Name)}}
    <li class="proxy">
      connected with proxy
    </li>
  {{/if}}
  {{#if (gt items.Tags.length 0)}}
    <li>
      <TagList @items={{item.Tags}}/>
    </li>
  {{/if}}
  </ul>
</ListCollection>
{{/if}}