{{yield}}
{{#if (gt items.length 0)}}
<ListCollection @cellHeight={{73}} @items={{items}} class="consul-service-list" as |item index|>
  <a href={{href-to routeName item.Name}}>
    <span class={{service/health-checks item}}></span>
    <span>
      {{item.Name}}
    </span>
    <YieldSlot @name="metadata" @params={{block-params item}}>
      {{yield}}
    </YieldSlot>
  </a>
</ListCollection>
{{/if}}