{{title item.ID}}
<AppView @class="instance show">
    <BlockSlot @name="notification" as |status type|>
      {{partial 'dc/services/notifications'}}
    </BlockSlot>
    <BlockSlot @name="breadcrumbs">
        <ol>
            <li><a data-test-back href={{href-to 'dc.services'}}>All Services</a></li>
            <li><a data-test-back href={{href-to 'dc.services.show'}}>Service ({{item.Service}})</a></li>
        </ol>
    </BlockSlot>
    <BlockSlot @name="header">
      <h1>
        {{ item.ID }}
      </h1>
      <ConsulExternalSource @item={{item}} />
    </BlockSlot>
    <BlockSlot @name="nav">
      <dl>
        <dt>Service Name</dt>
        <dd><a href="{{href-to 'dc.services.show' item.Service}}">{{item.Service}}</a></dd>
      </dl>
      <dl>
        <dt>Node Name</dt>
        <dd><a href="{{href-to 'dc.nodes.show' item.Node.Node}}">{{item.Node.Node}}</a></dd>
      </dl>
    </BlockSlot>
    <BlockSlot @name="content">
        <TabNav @items={{
          compact
              (array
                      (hash label="Health Checks" href=(href-to "dc.services.instance.healthchecks") selected=(is-href "dc.services.instance.healthchecks"))
(if
  (eq item.Kind 'mesh-gateway')
                      (hash label="Addresses" href=(href-to "dc.services.instance.addresses") selected=(is-href "dc.services.instance.addresses")) ""
)
(if proxy
                      (hash label="Proxy Info" href=(href-to "dc.services.instance.proxy") selected=(is-href "dc.services.instance.proxy"))

)
                      (hash label="Tags" href=(href-to "dc.services.instance.tags") selected=(is-href "dc.services.instance.tags"))
                      (hash label="Metadata" href=(href-to "dc.services.instance.metadata") selected=(is-href "dc.services.instance.metadata"))
              )
        }}/>
        {{outlet}}
    </BlockSlot>
</AppView>