{{title item.Service.Service}}
<AppView @class="service show">
  <BlockSlot @name="notification" as |status type|>
    {{partial 'dc/services/notifications'}}
    {{partial 'dc/intentions/notifications'}}
  </BlockSlot>
  <BlockSlot @name="breadcrumbs">
    <ol>
        <li><a data-test-back href={{href-to 'dc.services'}}>All Services</a></li>
    </ol>
  </BlockSlot>
  <BlockSlot @name="header">
      <h1>
        {{item.Service.Service}}
      </h1>
      <ConsulExternalSource @item={{item.Service}} />
  </BlockSlot>
  <BlockSlot @name="nav">
  {{#if (not item.Service.Kind)}}
    <TabNav @items={{
      compact
          (array
                (hash label="Instances" href=(href-to "dc.services.show.instances") selected=(is-href "dc.services.show.instances"))
                (hash label="Intentions" href=(href-to "dc.services.show.intentions") selected=(is-href "dc.services.show.intentions"))
  (if (not-eq chain)  (hash label="Routing" href=(href-to "dc.services.show.routing") selected=(is-href "dc.services.show.routing")) '')
                (hash label="Tags" href=(href-to "dc.services.show.tags") selected=(is-href "dc.services.show.tags"))
          )
    }}/>
  {{/if}}
  </BlockSlot>
  <BlockSlot @name="actions">
    {{#if urls.service}}
      {{#templated-anchor data-test-dashboard-anchor href=urls.service vars=(hash Datacenter=dc Service=(hash Name=item.Service.Service)) rel="external"}}Open Dashboard{{/templated-anchor}}
    {{/if}}
  </BlockSlot>
  <BlockSlot @name="content">
    {{outlet}}
  </BlockSlot>
</AppView>