<EventSource @src={{items}} @onerror={{action "error"}} />
<EventSource @src={{chain}} />
<EventSource @src={{intentions}} />
<EventSource @src={{proxies}} />
<EventSource @src={{gatewayServices}} />
{{title item.Service.Service}}
<AppView @class="service show">
  <BlockSlot @name="notification" as |status type|>
    {{partial 'dc/services/notifications'}}
  </BlockSlot>
  <BlockSlot @name="breadcrumbs">
    <ol>
        <li><a data-test-back href={{href-to 'dc.services'}}>All Services</a></li>
    </ol>
  </BlockSlot>
  <BlockSlot @name="header">
      <h1>
        {{item.Service.Service}}
      </h1>
      <ConsulExternalSource @item={{item.Service}} />
      <ConsulKind @item={{item.Service}} @withInfo={{true}} />
  </BlockSlot>
  <BlockSlot @name="nav">
  {{#if (not-eq item.Service.Kind 'mesh-gateway')}}
    <TabNav @items={{
      compact
          (array
(if (eq item.Service.Kind 'terminating-gateway')
                (hash label="Linked Services" href=(href-to "dc.services.show.services") selected=(is-href "dc.services.show.services"))
'')
(if (eq item.Service.Kind 'ingress-gateway')
                (hash label="Upstreams" href=(href-to "dc.services.show.upstreams") selected=(is-href "dc.services.show.upstreams"))
'')
                (hash label="Instances" href=(href-to "dc.services.show.instances") selected=(is-href "dc.services.show.instances"))
(if (not-eq item.Service.Kind 'terminating-gateway')
                (hash label="Intentions" href=(href-to "dc.services.show.intentions") selected=(is-href "dc.services.show.intentions"))
'')
(if chain.Chain
                (hash label="Routing" href=(href-to "dc.services.show.routing") selected=(is-href "dc.services.show.routing"))
'')
(if (not item.Service.Kind)
                (hash label="Tags" href=(href-to "dc.services.show.tags") selected=(is-href "dc.services.show.tags"))
'')
          )
    }}/>
  {{/if}}
  </BlockSlot>
  <BlockSlot @name="actions">
    {{#if urls.service}}
      {{#templated-anchor data-test-dashboard-anchor href=urls.service vars=(hash Datacenter=dc Service=(hash Name=item.Service.Service)) rel="external"}}Open Dashboard{{/templated-anchor}}
    {{/if}}
  </BlockSlot>
  <BlockSlot @name="content">
    {{outlet}}
  </BlockSlot>
</AppView>