{{#app-view}}
    {{#block-slot 'header'}}
        <h1>
            {{model.Name}}
        </h1>
    {{/block-slot}}
    {{#block-slot 'actions'}}
        <button type="button">Copy Token ID</button>
        <button type="button" {{ action "clone" model }}>Clone token</button>
        <button type="button" {{ action "requestUse" model }}>Use token</button>
    {{/block-slot}}
    {{#block-slot 'content'}}
        <form>
            <fieldset>
                <label class="type-text">
                    <span>Name</span>
                    {{ input value=model.Name }}
                </label>
                <div role="radiogroup">
                    {{#each types as |type|}}
                        <label>
                            <span>{{type}}</span>
                            <input type="radio" name="type" value="{{type}}" />
                        </label>
                    {{/each}}
                </div>
                <label class="type-text">
                    <span>Policy <a href="" target="_blank">(HCL Format)</a></span>
                    {{code-editor value=model.Rules}}
                </label>
            </fieldset>
            <div>
                <button type="submit" {{ action "update" model}}>Save</button>
                <button type="button" class="type-cancel" {{ action "cancel" model}}>Cancel</button>
        {{# if model.isNotAnon }}
                <div class="with-confirmation">
                    <p>
                        Are you sure you want to delete {{model.Name}}?
                    </p>
                    <button type="button" class="type-delete" {{ action "requestDelete" model}}>Delete</button>
                    <button type="button" class="type-cancel" {{ action "requestDelete" model}}>Cancel</button>
                </div>
        {{/if}}
            </div>
        </form>
    {{/block-slot}}
{{/app-view}}