{{#app-view}}
    {{#block-slot 'header'}}
        <h1>
            ACL Tokens
        </h1>
{{#if (gt items.length 0)}}
        {{acl-filter filters=typeFilters search=filters.s status=filters.status onchange=(action 'filter')}}
{{/if}}
    {{/block-slot}}
    {{#block-slot 'content'}}
{{#if (gt filtered.length 0)}}
        <table>
    {{#tabular-collection
        items=filtered
        tagName=''
        cell-layout=(fixed-grid-layout 1150 46) as |item index|
    }}
                <tr>
                    <td>
                        <a href={{href-to 'dc.acls.edit' item.ID}}>{{item.Name}}</a>
                    </td>
                    <td>
                        <span>{{item.Type}}</span>
                    </td>
                    <td>
                        Actions
                    </td>
                </tr>
    {{/tabular-collection}}
        </table>
{{else}}
        <p>There are no ACLs.</p>
{{/if}}
    {{/block-slot}}
{{/app-view}}