{{#app-view}}
    {{#block-slot 'header'}}
        <h1>
            ACL Tokens
        </h1>
    {{/block-slot}}
    {{#block-slot 'actions'}}
        <a href="{{href-to 'dc.acls.create'}}" class="type-create">Create</a>
    {{/block-slot}}
    {{#block-slot 'toolbar'}}
{{#if (gt items.length 0) }}
        {{acl-filter filters=typeFilters search=filters.s status=filters.status onchange=(action 'filter')}}
{{/if}}
    {{/block-slot}}
    {{#block-slot 'content'}}
{{#if (gt filtered.length 0)}}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            {{#tabular-collection
                items=filtered
                cell-layout=(fixed-grid-layout 1150 46) as |item index|
            }}
                    <td>
                        <a href={{href-to 'dc.acls.edit' item.ID}}>{{item.Name}}</a>
                    </td>
                    <td>
                        {{#if (eq item.Type 'management')}}
                            <strong>{{item.Type}}</strong>
                        {{else}}
                            <span>{{item.Type}}</span>
                        {{/if}}
                    </td>
                    <td>
                        &nbsp;
                    </td>
            {{/tabular-collection}}
        </table>
{{else}}
    <p>
        There are no ACLs.
    </p>
{{/if}}
    {{/block-slot}}
{{/app-view}}