    <div class="row">
      <div class="col-xs-12 col-sm-12 visible-xs visible-sm">
        {{#link-to "dc.acls" class="btn btn-default btn-block" }}Back to all ACLs{{/link-to}}
        <hr>
      </div>
    </div>

        <div class="panel">
            <div class="panel-bar {{if isLoading "bg-orange" "bg-light-gray" }}"></div>
            <div class="panel-heading">
              <h4 class="panel-title">
                {{ model.Name }}
                <small class="pull-right no-case">{{ model.ID }}</small>
              </h4>
            </div>

            <div class="panel-body panel-form">
              <div class="form-group"></div>

              <form class="form">
                <div class="form-group">
                  {{ input value=model.Name class="form-control" }}
                  <span class="help-block">Set the optional name for the ACL.</span>
                </div>

                <div class="form-group">
                  <select class="form-control form-control-mini">
                    <option>Yet to implement</option>
                  </select>
                  <span class="help-block">The type of ACL this is.</span>
                </div>

                <div class="form-group">
                  <label>Rules</label>
                  {{ textarea value=model.Rules class="form-control" }}
                  <span class="help-block">For more information on rules, visit the <a href="https://www.consul.io/docs/guides/acl.html" target="_blank">ACL documentation.</a></span>
                </div>

                <button {{ action "update" model}} class="btn btn-success">Update</button>
                <button {{ action "clone" model }} class="btn btn-default">Clone</button>
                <button {{ action "requestUse" model }} class="btn btn-default">Use Token</button>
                {{# if model.isNotAnon }}
                    <button {{ action "requestDelete" model}} class="btn pull-right {{if isLoading "btn-warning" "btn-danger"}}">Delete</button>
                {{/if}}

              </form>
            </div>
          </div>
      <hr>