{{#link-to "dc.acls"}}Back to all ACLs{{/link-to}}
<h1>
    {{ model.Name }} - {{ model.ID }}
</h1>
<form>
    <fieldset>
        <label>
            {{ input value=model.Name }}
            <p>
                Set the optional name for the ACL.
            </p>
        </label>
        <label>
            <select>
                <option>Yet to implement</option>
            </select>
            <p>
                The type of ACL this is.
            </p>
        </label>
        <label>
            <span>Rules</span>
            {{ textarea value=model.Rules }}
            <p>
                For more information on rules, visit the <a href="https://www.consul.io/docs/guides/acl.html" target="_blank">ACL documentation.</a>
            </p>
        </label>
    </fieldset>
    <button {{ action "update" model}}>Update</button>
    <button {{ action "clone" model }}>Clone</button>
    <button {{ action "requestUse" model }}>Use Token</button>
    {{# if model.isNotAnon }}
        <button {{ action "requestDelete" model}}>Delete</button>
    {{/if}}
</form>