{{#let (if _externalSource _externalSource (service/external-source item)) as |externalSource|}}
  {{#if externalSource}}
    {{#if (has-block)}}
      {{yield
        (component 'consul-external-source' item=item _externalSource=externalSource)
      }}
    {{else}}
      <span data-test-external-source={{externalSource}} class="consul-external-source source-{{externalSource}}">
        {{#if (eq externalSource 'aws')}}
          <span>Synced from {{uppercase externalSource}}</span>
        {{else}}
          <span>Synced from {{capitalize externalSource}}</span>
        {{/if}}
      </span>
    {{/if}}
  {{/if}}
{{/let}}
