{{yield}}
<li role="none" ...attributes>
{{#if hasConfirmation}}
  <label for={{concat menu.confirm guid}} role="menuitem" tabindex="-1" onkeypress={{menu.keypressClick}}>
    <YieldSlot @name="label">{{yield}}</YieldSlot>
  </label>
  <div role="menu">
    <YieldSlot @name="confirmation" @params={{
      block-params (component 'confirmation-alert'
        onclick=(queue (action onclick) (action menu.clickTrigger))
        name=(concat menu.confirm guid)
      )
    }}>{{yield}}</YieldSlot>
  </div>
{{else if href}}
  <a role="menuitem" tabindex="-1" href={{href}}>
    <YieldSlot @name="label">
      {{yield}}
    </YieldSlot>
  </a>
{{else}}
  <button role="menuitem" tabindex="-1" type="button" onclick={{action this.onclick}}>
    <YieldSlot @name="label">
      {{yield}}
    </YieldSlot>
  </button>
{{/if}}
</li>
