{{!<form>}}
    <FreetextFilter @searchable={{searchable}} @value={{search}} @placeholder="Search by Source or Destination" />
    <RadioGroup @keyboardAccess={{true}} @name="currentFilter" @value={{selected}} @items={{filters}} @onchange={{action onchange}} />
{{!</form>}}