<h1>ACL Tokens</h1>
{{#if true }}
    {{acl-filter}}
    <table>
        {{#filtered-list tagName="tbody" items=items as |item|}}
            <tr>
                <td>
                    <a href={{href-to 'dc.acls.show' item.ID}}>{{item.Name}}</a>
                </td>
                <td>
                    {{item.Type}}
                </td>
                <td>
                    Actions
                </td>
            </tr>
        {{/filtered-list}}
    </table>
{{else}}
    <p>There are no ACLs.</p>
{{/if}}

{{#if isShowingItem}} {{!hasOutlet}}
    {{outlet}}
{{else}}
    <h2>
        New ACL
    </h2>
    <form>
        <fieldset>
            <label>
                {{ input value=newAcl.Name }}
                <p>
                    Set the optional name for the ACL.
                </p>
            </label>
            <label>
                Select will go here
                <p>
                    The type of ACL this is.
                </p>
            </label>
            <label>
                <span>Rules</span>
                {{ textarea value=newAcl.Rules }}
                <p>
                    For more information on rules, visit the <a href="https://www.consul.io/docs/guides/acl.html" target="_blank">ACL documentation.</a>
                </p>
            </label>
        </fieldset>
        <button {{ action "create" newAcl}}>Create</button>
    </form>
{{/if}}