{{# if items }}
    {{#each items as |item| }}
        {{#link-to 'dc.acls.show' item.ID }}
            {{ item.Name }}{{ item.ID }}
        {{/link-to}}
    {{/each}}
{{else}}
    <p>There are no ACLs to show.</p>
{{/if}}

{{#if isShowingItem}}
    {{outlet}}
{{else}}
    <h2 class="panel-title">
        New ACL
    </h2>

    <form>
        <fieldset>
            <label>
                {{ input value=newAcl.Name }}
                <p>
                    Set the optional name for the ACL.
                </p>
            </label>
            <label>
                Select will go here
                <p>
                    The type of ACL this is.
                </p>
            </label>
            <label>
                <span>Rules</span>
                {{ textarea value=newAcl.Rules }}
                <p>
                    For more information on rules, visit the <a href="https://www.consul.io/docs/guides/acl.html" target="_blank">ACL documentation.</a>
                </p>
            </label>
        </fieldset>
        <button {{ action "create" newAcl}}>Create</button>
    </form>
{{/if}}