    <h1>
        Services
    </h1>
{{#if true }}
    {{catalog-filter}}
    <table>
        <thead>
            <tr>
                <th>Service</th>
                <th>Node Health</th>
                <th>Tags</th>
            </tr>
        </thead>
        {{#filtered-list tagName="tbody" items=items as |item|}}
            <tr>
                <td>
                    <a href={{href-to 'dc.services.show' item.Name}}>{{item.Name}}</a>
                </td>
                <td>
                    <dl>
                        <dt>Healthchecks Passing</dt>
                        <dd>{{item.ChecksPassing}}</dd>
                        <dt>Healthchecks Critical</dt>
                        <dd>{{item.ChecksCritical}}</dd>
                    </dl>
                </td>
                <td>
                        Need to switch API to the public catalog one
                </td>
            </tr>
        {{/filtered-list}}
    </table>
{{else}}
    <p>There are no services.</p>
{{/if}}
    {{outlet}}
