<fieldset>
{{#if create }}
  <div class="type-toggle type-negative">
    <span>Restrict this token to a local datacenter?</span>
    <em>Local tokens get set in the Raft store of the local DC and do not ever get transmitted to the primary DC or replicated to any other DC.</em>
    <label>
      <input type="checkbox" name="Local" checked={{if (not Local) 'checked' }} onchange={{action 'change'}} />
      <span>No</span>
    </label>
  </div>
{{/if}}
  <label class="type-text validate-optional">
    <span>Description (Optional)</span>
    <textarea name="Description" oninput={{action 'change'}}>{{item.Description}}</textarea>
  </label>
</fieldset>
<fieldset id="roles">
  <h2>Roles</h2>
  {{role-selector dc=dc items=item.Roles}}
</fieldset>
<fieldset id="policies">
  <h2>Policies</h2>
  {{policy-selector dc=dc items=item.Policies}}
</fieldset>
