<form>
{{#if (not item.Legacy)}}
    <fieldset>
      <div class="type-toggle">
        <span>Restrict this token to a local datacenter?</span>
        <em>Local tokens get set in the Raft store of the local DC and do not ever get transmitted to the primary DC or replicated to any other DC.</em>
        <label>
          <input type="checkbox" name="Local" checked={{if Local 'checked' }} onchange={{action 'change'}} />
          <span>No</span>
        </label>
      </div>
      <label class="type-text">
        <span>Description</span>
        <textarea name="Description" oninput={{action 'change'}}></textarea>
      </label>
    </fieldset>
    <fieldset>
      <h2>Policies</h2>
      <label class="type-dialog" for="new-policy-toggle">
        <span>Create new policy</span>
        {{#modal-dialog name="new-policy-toggle"}}
          {{#block-slot 'header'}}
              <h2>New Policy</h2>
          {{/block-slot}}
          {{#block-slot 'body'}}
            {{#with policy as |item|}}
              {{partial 'dc/acls/policies/fieldsets'}}
            {{/with}}
          {{/block-slot}}
          {{#block-slot 'actions' as |close|}}
            <button type="button" {{action 'createPolicy' policy close}}>Create and apply</button>
            <button type="button" class="type-cancel" {{action close}}>Cancel</button>
          {{/block-slot}}
        {{/modal-dialog}}
      </label>
      <label class="type-text">
        <span>Apply an existing policy</span>
            {{#power-select
              options=items
              searchField='Name'
              selected=DestinationName
              searchPlaceholder='Type policy name'
              onchange=(action 'change' 'Policy') as |policy|
            }}
              {{policy.Name}}
            {{/power-select}}
      </label>
  {{#if (gt item.Policies.length 0)}}
    {{#tabular-collection
        data-test-policies
        items=(sort-by 'CreateTime:desc' 'Name:asc' item.Policies) as |item index|
    }}
        {{#block-slot 'header'}}
            <th>Name</th>
            <th>ID</th>
        {{/block-slot}}
        {{#block-slot 'row'}}
                <td>
                  <a href={{href-to 'dc.acls.policies.edit' item.ID}}>{{item.Name}}</a>
                </td>
                <td>
                    {{if (not item.isNew) item.ID 'Saving...'}}
                </td>
                <td>
    {{#if (not item.isNew) }}
                  {{#confirmation-dialog message='Are you sure you want to remove this policy?'}}
                    {{#block-slot 'action' as |confirm|}}
                        <button data-test-delete type="button" class="type-delete" {{action confirm 'removePolicy' item}}>Remove</button>
                    {{/block-slot}}
                    {{#block-slot 'dialog' as |execute cancel message|}}
                        <p>
                            {{message}}
                        </p>
                        <button type="button" class="type-delete" {{action execute}}>Confirm Removal</button>
                        <button type="button" class="type-cancel" {{ action cancel}}>Cancel</button>
                    {{/block-slot}}
                  {{/confirmation-dialog}}
    {{/if}}
                </td>
        {{/block-slot}}
    {{/tabular-collection}}
  {{/if}}
    </fieldset>
{{else}}
    <fieldset>
        <label class="type-text{{if item.error.Name ' has-error'}}">
            <span>Name</span>
            {{input value=item.Name name='name' autofocus='autofocus'}}
        </label>
        <div role="radiogroup" class={{if item.error.Type ' has-error'}}>
            {{#each (array 'management' 'client') as |type|}}
                <label>
                    <span>{{capitalize type}}</span>
                    <input type="radio" name="Type" value="{{type}}" checked={{if (eq item.Type type) 'checked'}} onchange={{ action 'change' }}/>
                </label>
            {{/each}}
        </div>
        <label class="type-text">
            <span>Rules <a href="{{env 'CONSUL_DOCUMENTATION_URL'}}/guides/acl.html#rule-specification" rel="help noopener noreferrer" target="_blank">(HCL Format)</a></span>
            {{code-editor class=(if item.error.Rules 'error') name='Rules' value=item.Rules onkeyup=(action 'change' 'Rules')}}
        </label>
{{#if create }}
        <label class="type-text">
            <span>ID</span>
            {{ input value=item.ID }}
            <em>We'll generate a UUID if this field is left empty.</em>
        </label>
{{/if}}
    </fieldset>
{{/if}}
    <div>
{{#if create }}
        <button type="submit" {{ action "create" item}} disabled={{if (or item.isPristine item.isInvalid) 'disabled'}}>Save</button>
{{ else }}
        <button type="submit" {{ action "update" item}} disabled={{if item.isInvalid 'disabled'}}>Save</button>
{{/if}}
        <button type="reset" {{ action "cancel" item}}>Cancel</button>
{{# if (not create) }}
        {{#confirmation-dialog message='Are you sure you want to delete this Token?'}}
            {{#block-slot 'action' as |confirm|}}
                <button type="button" data-test-delete class="type-delete" {{action confirm 'delete' item}}>Delete</button>
            {{/block-slot}}
            {{#block-slot 'dialog' as |execute cancel message|}}
              {{delete-confirmation message=message execute=execute cancel=cancel}}
            {{/block-slot}}
        {{/confirmation-dialog}}
{{/if}}
    </div>
</form>
