    {{#link-to "dc.services"}}Back to all services{{/link-to}}
    <h1>{{ model.0.Service.Service }}</h1>
    <h2>Tags</h2>
    {{#if tags}}
        <p>{{tags}}</p>
    {{else}}
        <p>No tags</p>
    {{/if}}
    <h2>Nodes</h2>
    {{#each model as |node| }}
        {{#link-to 'dc.nodes.show' node.Node.Node }}
            {{! if node.hasFailingChecks "bg-orange" "bg-green" }}
            <h3>
                {{node.Node.Node}} {{node.Node.Address}} {{node.checkMessage}}
            </h3>
            <ul>
                {{#each node.Checks as |check| }}
                    <li>
                        {{check.Name}} - {{ check.CheckID }} - {{check.Status}}
                    </li>
                {{/each}}
            </ul>
        {{/link-to}}
    {{/each}}
