{{#app-view}}
    {{#block-slot 'header'}}
        <a href={{href-to 'dc.services'}}>All Services</a>
        <h1>
            {{ model.0.Service.Service }}
        </h1>
        {{catalog-filter}}
    {{/block-slot}}
    {{#block-slot 'content'}}
        <dl>
            <dt>Tags</dt>
            <dd>
                <ul>
                    <li>Tags in here</li>
                </ul>
            </dd>
        </dl>
        <div class="unhealthy">
            <h2>Unhealthy Nodes</h2>
            {{#filtered-list tagName="ul" items=model as |item|}}
                <li>
                    {{healthchecked-resource
                        href=(href-to 'dc.nodes.show' item.Node.Node)
                        name=item.Node.Node
                        address=item.Node.Address
                        checks=item.Checks
                    }}
                </li>
            {{/filtered-list}}
        </div>
        <div class="healthy">
            <h2>Healthy Nodes</h2>
            {{#filtered-list tagName="ul" items=model as |item|}}
                <li>
                    {{healthchecked-resource
                        href=(href-to 'dc.nodes.show' item.Node.Node)
                        name=item.Node.Node
                        address=item.Node.Address
                        checks=item.Checks
                    }}
                </li>
            {{/filtered-list}}
        </div>
    {{/block-slot}}
{{/app-view}}
