{{#if create }}
  {{title 'New Namespace'}}
{{else}}
  {{title 'Edit Namespace'}}
{{/if}}
<AppView @class="nspace edit" @loading={{isLoading}}>
  <BlockSlot @name="notification" as |status type item error|>
    {{partial 'dc/nspaces/notifications'}}
  </BlockSlot>
  <BlockSlot @name="breadcrumbs">
    <ol>
        <li><a data-test-back href={{href-to 'dc.nspaces'}}>All Namespaces</a></li>
    </ol>
  </BlockSlot>
  <BlockSlot @name="header">
    <h1>
{{#if create }}
      New Namespace
{{else}}
      Edit {{item.Name}}
{{/if}}
    </h1>
  </BlockSlot>
  <BlockSlot @name="actions">
  </BlockSlot>
  <BlockSlot @name="content">
    {{ partial 'dc/nspaces/form'}}
  </BlockSlot>
</AppView>
