<div id="instances" class="tab-section">
  <div role="tabpanel">
  {{#if (gt items.length 0) }}
    <input type="checkbox" id="toolbar-toggle" />
    <SearchBar
      @value={{search}}
      @onsearch={{action (mut search) value="target.value"}}
    />
  {{/if}}
    <ChangeableSet @dispatcher={{searchable 'serviceInstance' items}} @terms={{search}}>
      <BlockSlot @name="set" as |filtered|>
        <ConsulServiceInstanceList @routeName="dc.services.instance" @items={{filtered}}/>
      </BlockSlot>
      <BlockSlot @name="empty">
        <EmptyState>
          <BlockSlot @name="body">
            <p>
              There are no services.
            </p>
          </BlockSlot>
        </EmptyState>
      </BlockSlot>
    </ChangeableSet>
  </div>
</div>
