<EventSource @src={{gatewayServices}} />
<div class="tab-section">
  <div role="tabpanel">
{{#let (hash
  instances=(if instance (split instance ',') undefined)
) as |filters|}}
  {{#let (or sortBy "Name:asc") as |sort|}}
{{#if (gt gatewayServices.length 0)}}
    <input type="checkbox" id="toolbar-toggle" />
    <Consul::Upstream::SearchBar
      @search={{search}}
      @onsearch={{action (mut search) value="target.value"}}

      @sort={{sort}}
      @onsort={{action (mut sortBy) value="target.selected"}}

      @filter={{filters}}
      @onfilter={{hash
        instance=(action (mut instance) value="target.selectedItems")
      }}
      />
{{/if}}
    <p>
      The following services may receive traffic from external services through this gateway. Learn more about configuring gateways in our
      <a href="{{env 'CONSUL_DOCS_URL'}}/connect/terminating-gateway" target="_blank" rel="noopener noreferrer">step-by-step guide</a>.
    </p>
{{#let (filter (filter-predicate 'service' filters) gatewayServices) as |filtered|}}
  {{#let (sort-by (comparator 'service' sort) filtered) as |sorted|}}
      <ChangeableSet @dispatcher={{searchable 'service' sorted}} @terms={{search}}>
        <BlockSlot @name="set" as |searched|>
          <Consul::Service::List
            @items={{searched}}
            @nspace={{nspace}}
          />
        </BlockSlot>
        <BlockSlot @name="empty">
          <EmptyState>
            <BlockSlot @name="body">
              <p>
                There are no linked services.
              </p>
            </BlockSlot>
          </EmptyState>
        </BlockSlot>
      </ChangeableSet>
  {{/let}}
{{/let}}
  {{/let}}
{{/let}}
  </div>
</div>
