<div id="services" class="tab-section">
  <div role="tabpanel">
  {{#if (gt gateway.Services.length 0)}}
    <section>
      <p>
        The following services may receive traffic from external services through this gateway. Learn more about configuring gateways in our
        <a href="{{env 'CONSUL_DOCS_URL'}}/connect/terminating_gateway.html" target="_blank" rel="noopener noreferrer">step-by-step guide.</a>
        
      </p>
      <ListCollection @cellHeight={{73}} @items={{gateway.Services}} class="consul-gateway-services-list" as |item index|>
        <a data-test-service-name href={{href-to 'dc.services.show' item.Name}} class={{service/health-checks item}}>
          {{item.Name}}
        </a>
        <ul>
          {{#if (not-eq item.InstanceCount 0)}}
            <li>
              {{format-number item.InstanceCount}} {{pluralize item.InstanceCount 'Instance' without-count=true}}
            </li>
          {{/if}}
          <TagList @item={{item}} as |Tags|>
            <li>
              <Tags />
            </li>
          </TagList>
        </ul>
      </ListCollection>
    </section>
  {{else}}
    <p>
      There are no linked services.
    </p>
  {{/if}}
  </div>
</div>
