<div id="tags" class="tab-section">
  <div role="tabpanel">
  {{#if topology}}
    <TopologyMetrics
      @service={{items.firstObject}}
      @upstreams={{topology.Upstreams}}
      @downstreams={{filter-by 'Datacenter' topology.Datacenter topology.Downstreams}}
      @dc={{topology.Datacenter}}
      @grafanaLink={{urls.service}}
    />
  {{else}}
    <EmptyState>
      <BlockSlot @name="header">
        <h2>
          No dependencies
        </h2>
      </BlockSlot>
      <BlockSlot @name="body">
        <p>
          This service has neither downstreams nor upstreams, which means that no services are configured to connect with it. Add upstreams and intentions to ensure this service is connected with the rest of your service mesh.
        </p>
      </BlockSlot>
      <BlockSlot @name="actions">
        <li class="docs-link">
          <a href="{{env 'CONSUL_DOCS_URL'}}/connect/registration/service-registration#upstream-configuration-reference" rel="noopener noreferrer" target="_blank">Documentation on upstreams</a>
        </li>
      </BlockSlot>
    </EmptyState>
  {{/if}}
  </div>
</div>
