{{#if isAuthorized }}
  {{#if create }}
      {{title 'New Policy'}}
  {{else}}
      {{title 'Edit Policy'}}
  {{/if}}
{{else}}
  {{title 'Access Controls'}}
{{/if}}
{{#app-view class=(concat 'policy ' (if (or isAuthorized isEnabled) 'edit' 'list')) loading=isLoading authorized=isAuthorized enabled=isEnabled}}
    {{#block-slot name='notification' as |status type|}}
      {{partial 'dc/acls/policies/notifications'}}
    {{/block-slot}}
    {{#block-slot name='disabled'}}
      {{partial 'dc/acls/disabled'}}
    {{/block-slot}}
    {{#block-slot name='authorization'}}
      {{partial 'dc/acls/authorization'}}
    {{/block-slot}}
    {{#block-slot name='breadcrumbs'}}
        <ol>
            <li><a data-test-back href={{href-to 'dc.acls.policies'}}>All Policies</a></li>
        </ol>
    {{/block-slot}}
    {{#block-slot name='header'}}
        <h1>
{{#if isAuthorized }}
  {{#if create }}
          New Policy
  {{else}}
    {{#if (eq (policy/typeof item) 'policy-management')}}
          View Policy
    {{else}}
          Edit Policy
    {{/if}}
  {{/if}}
{{else}}
            Access Controls
{{/if}}
        </h1>
    {{/block-slot}}
    {{#block-slot name='content'}}
{{#if (eq (policy/typeof item) 'policy-management')}}
      {{ partial 'dc/acls/policies/view'}}
{{else}}
      {{ partial 'dc/acls/policies/form'}}
{{/if}}
    {{/block-slot}}
{{/app-view}}