{{#if isAuthorized }}
  {{#if create }}
      {{title 'New Policy'}}
  {{else}}
      {{title 'Edit Policy'}}
  {{/if}}
{{else}}
  {{title 'Access Controls'}}
{{/if}}
<AppView
  @class={{concat "policy " (if isAuthorized "edit" "list")}}
  @loading={{isLoading}}
  @authorized={{isAuthorized}}
  @enabled={{isEnabled}}
  >
    <BlockSlot @name="notification" as |status type item error|>
      {{partial 'dc/acls/policies/notifications'}}
    </BlockSlot>
    <BlockSlot @name="disabled">
      {{partial 'dc/acls/disabled'}}
    </BlockSlot>
    <BlockSlot @name="authorization">
      {{partial 'dc/acls/authorization'}}
    </BlockSlot>
    <BlockSlot @name="breadcrumbs">
        <ol>
            <li><a data-test-back href={{href-to 'dc.acls.policies'}}>All Policies</a></li>
        </ol>
    </BlockSlot>
    <BlockSlot @name="header">
        <h1>
{{#if isAuthorized }}
  {{#if create }}
          New Policy
  {{else}}
    {{#if (eq (policy/typeof item) 'policy-management')}}
          View Policy
    {{else}}
          Edit Policy
    {{/if}}
  {{/if}}
{{else}}
            Access Controls
{{/if}}
        </h1>
    </BlockSlot>
    <BlockSlot @name="content">
{{#if (eq (policy/typeof item) 'policy-management')}}
      {{ partial 'dc/acls/policies/view'}}
{{else}}
      {{ partial 'dc/acls/policies/form'}}
{{/if}}
    </BlockSlot>
</AppView>