{{#if isAuthorized }}
  {{title 'Policies'}}
{{else}}
  {{title 'Access Controls'}}
{{/if}}
<AppView
  @class="policy list"
  @loading={{isLoading}}
  @authorized={{isAuthorized}}
  @enabled={{isEnabled}}
  >
  <BlockSlot @name="notification" as |status type|>
    {{partial 'dc/acls/policies/notifications'}}
  </BlockSlot>
  <BlockSlot @name="header">
    <h1>
      Access Controls
    </h1>
  </BlockSlot>
  <BlockSlot @name="nav">
{{#if isAuthorized }}
    {{partial 'dc/acls/nav'}}
{{/if}}
  </BlockSlot>
  <BlockSlot @name="disabled">
    {{partial 'dc/acls/disabled'}}
  </BlockSlot>
  <BlockSlot @name="authorization">
    {{partial 'dc/acls/authorization'}}
  </BlockSlot>
  <BlockSlot @name="actions">
      <a data-test-create href="{{href-to 'dc.acls.policies.create'}}" class="type-create">Create</a>
  </BlockSlot>
  <BlockSlot @name="content">
{{#if (gt items.length 0) }}
      <form class="filter-bar">
        <FreetextFilter @searchable={{searchable}} @value={{s}} @placeholder="Search" />
      </form>
{{/if}}
    <ChangeableSet @dispatcher={{searchable}}>
      <BlockSlot @name="set" as |filtered|>
        <TabularCollection @items={{sort-by "CreateIndex:desc" "Name:asc" filtered}} as |item index|>
          <BlockSlot @name="header">
            <th>Name</th>
            <th>Datacenters</th>
            <th>Description</th>
          </BlockSlot>
          <BlockSlot @name="row">
            <td data-test-policy="{{item.Name}}">
              <a href={{href-to 'dc.acls.policies.edit' item.ID}} class={{if (eq (policy/typeof item) 'policy-management') 'is-management'}}>{{item.Name}}</a>
            </td>
            <td>
              {{join ', ' (policy/datacenters item)}}
            </td>
            <td data-test-description>
              <p>{{item.Description}}</p>
            </td>
          </BlockSlot>
          <BlockSlot @name="actions" as |index change checked|>
            <PopoverMenu @expanded={{if (eq checked index) true false}} @onchange={{action change index}} @keyboardAccess={{false}}>
              <BlockSlot @name="trigger">
                More
              </BlockSlot>
              <BlockSlot @name="menu" as |confirm send keypressClick|>
{{#if (eq (policy/typeof item) 'policy-management')}}
                <li role="none">
                    <a role="menuitem" tabindex="-1" data-test-edit href={{href-to 'dc.acls.policies.edit' item.ID}}>View</a>
                </li>
{{else}}

                <li role="none">
                    <a role="menuitem" tabindex="-1" data-test-edit href={{href-to 'dc.acls.policies.edit' item.ID}}>Edit</a>
                </li>
                <li role="none" class="dangerous">
                  <label for={{confirm}} role="menuitem" tabindex="-1" onkeypress={{keypressClick}} data-test-delete>Delete</label>
                  <div role="menu">
                    <div class="confirmation-alert warning">
                      <div>
                        <header>
                          Confirm Delete
                        </header>
                        <p>
                          Are you sure you want to delete this policy?
                        </p>
                      </div>
                      <ul>
                        <li class="dangerous">
                          <button tabindex="-1" type="button" class="type-delete" onclick={{action send 'delete' item}}>Delete</button>
                        </li>
                        <li>
                          <label for={{confirm}}>Cancel</label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
{{/if}}
              </BlockSlot>
            </PopoverMenu>
          </BlockSlot>
        </TabularCollection>
      </BlockSlot>
      <BlockSlot @name="empty">
        <p>
          There are no Policies.
        </p>
      </BlockSlot>
    </ChangeableSet>
  </BlockSlot>
</AppView>