<form>
    <fieldset>
        <label class="type-text{{if item.error.Name ' has-error'}}">
            <span>Name</span>
            {{input value=item.Name name='name'}}
        </label>
        <div role="radiogroup" class={{if item.error.Type ' has-error'}}>
            {{#each types as |type|}}
                <label>
                    <span>{{type}}</span>
                    <input type="radio" name="type" value="{{type}}" checked={{if (eq item.Type type) 'checked'}} />
                </label>
            {{/each}}
        </div>
        <label class="type-text">
            <span>Policy <a href="" target="_blank">(HCL Format)</a></span>
            {{code-editor class=(if item.error.Name 'error') name="policy" value=item.Rules}}
        </label>
{{#if create }}
        <label class="type-text">
            <span>ID</span>
            {{ input value=item.ID }}
            <em>We'll generate a UUID if this field is left empty.</em>
        </label>
{{/if}}
    </fieldset>
    <div>
{{#if create }}
        <button type="submit" {{ action "create" item}} disabled={{if item.isInvalid 'disabled'}}>Save</button>
{{ else }}
        <button type="submit" {{ action "update" item}} disabled={{if item.isInvalid 'disabled'}}>Save</button>
{{/if}}
        <button type="reset" {{ action "cancel" item}}>Cancel</button>
{{# if (and item.isNotAnon item.ID) }}
        {{#confirmation-dialog message='Are you sure you want to delete this ACL token?'}}
            {{#block-slot 'action' as |confirm|}}
                <button type="button" class="type-delete" {{action confirm 'delete' item parent}}>Delete</button>
            {{/block-slot}}
            {{#block-slot 'dialog'}}
                <p>
                    Are you sure you want to delete {{item.basename}}?
                </p>
                <button type="button" class="type-cancel" {{ action cancel}}>Cancel</button>
            {{/block-slot}}
        {{/confirmation-dialog}}
{{/if}}
    </div>
</form>

