{{#app-view}}
    {{#block-slot 'header'}}
        <h1>
            {{item.Name}}
        </h1>
    {{/block-slot}}
    {{#block-slot 'actions'}}
{{#if item.ID }}
        <button type="button">Copy Token ID</button>
        <button type="button" {{ action "clone" item }}>Clone token</button>
        <button type="button" {{ action "requestUse" item }}>Use token</button>
{{/if}}
    {{/block-slot}}
    {{#block-slot 'content'}}
        <form>
            <fieldset>
                <label class="type-text">
                    <span>Name</span>
                    {{ input value=item.Name name='name' }}
                </label>
                <div role="radiogroup">
                    {{#each types as |type|}}
                        <label>
                            <span>{{type}}</span>
                            <input type="radio" name="type" value="{{type}}" />
                        </label>
                    {{/each}}
                </div>
                <label class="type-text">
                    <span>Policy <a href="" target="_blank">(HCL Format)</a></span>
                    {{code-editor name="policy" value=item.Rules}}
                </label>
{{#if create }}
                <label class="type-text">
                    <span>ID</span>
                    {{ input value=item.ID }}
                    <em>We'll generate a UUID if this field is left empty.</em>
                </label>
{{/if}}
            </fieldset>
            <div>
{{#if create }}
                <button type="submit" {{ action "create" item}}>Save</button>
{{ else }}
                <button type="submit" {{ action "update" item}}>Save</button>
{{/if}}
                <button type="button" class="type-cancel" {{ action "cancel" item}}>Cancel</button>
{{# if (and item.isNotAnon item.ID) }}
            {{#confirmation-dialog message='Are you sure you want to delete this ACL token?'}}
                {{#block-slot 'action' as |confirm|}}
                    <button type="button" class="type-delete" {{action confirm 'delete' item parent}}>Delete</button>
                {{/block-slot}}
                {{#block-slot 'dialog'}}
                    <p>
                        Are you sure you want to delete {{item.basename}}?
                    </p>
                    <button type="button" class="type-cancel" {{ action cancel}}>Cancel</button>
                {{/block-slot}}
            {{/confirmation-dialog}}
{{/if}}
            </div>
        </form>
    {{/block-slot}}
{{/app-view}}