{{#app-view class="acl list" loading=isLoading}}
    {{#block-slot 'header'}}
        <h1>
            ACL Tokens
        </h1>
    {{/block-slot}}
    {{#block-slot 'actions'}}
        <a data-test-create href="{{href-to 'dc.acls.create'}}" class="type-create">Create</a>
    {{/block-slot}}
    {{#block-slot 'toolbar'}}
{{#if (gt items.length 0) }}
        {{acl-filter filters=typeFilters search=filters.s type=filters.type onchange=(action 'filter')}}
{{/if}}
    {{/block-slot}}
    {{#block-slot 'content'}}
{{#if (gt filtered.length 0)}}
        {{#tabular-collection
            items=(sort-by 'Name:asc' filtered) as |item index|
        }}
            {{#block-slot 'header'}}
                <th>Name</th>
                <th>Type</th>
            {{/block-slot}}
            {{#block-slot 'row'}}
                <td data-test-acl="{{item.Name}}">
                    <a href={{href-to 'dc.acls.edit' item.ID}}>{{item.Name}}</a>
                </td>
                <td>
                    {{#if (eq item.Type 'management')}}
                        <strong>{{item.Type}}</strong>
                    {{else}}
                        <span>{{item.Type}}</span>
                    {{/if}}
                </td>
            {{/block-slot}}
            {{#block-slot 'actions' as |index change checked|}}
                {{#confirmation-dialog confirming=false index=index}}
                    {{#block-slot 'action' as |confirm|}}
                        {{#action-group index=index onchange=(action change) checked=(if (eq checked index) 'checked')}}
                            <ul>
                                <li>
                                    <a data-test-edit href={{href-to 'dc.acls.edit' item.ID}}>Edit</a>
                                </li>
                                <li>
                                    <a data-test-use onclick={{queue (action confirm 'use' item) (action change)}}>Use</a>
                                </li>
                                <li>
                                    <a data-test-clone onclick={{action 'sendClone' item}}>Clone</a>
                                </li>
{{# if (not-eq item.ID 'anonymous') }}
                                <li>
                                    <a data-test-delete onclick={{action confirm 'delete' item}}>Delete</a>
                                </li>
{{/if}}
                            </ul>
                        {{/action-group}}
                    {{/block-slot}}
                    {{#block-slot 'dialog' as |execute cancel message name|}}
                        <p>
                            {{#if (eq name 'delete')}}
                                Are you sure you want to delete this ACL token?
                            {{ else if (eq name 'use')}}
                                Are you sure you want to use this ACL token?
                            {{/if}}
                        </p>
                        <button type="button" class="type-delete" {{action execute}}>
                            {{#if (eq name 'delete')}}
                                Confirm Delete
                            {{ else if (eq name 'use')}}
                                Confirm Use
                            {{/if}}
                        </button>
                        <button type="button" class="type-cancel" {{action cancel}}>Cancel</button>
                    {{/block-slot}}
                {{/confirmation-dialog}}
            {{/block-slot}}
        {{/tabular-collection}}
{{else}}
    <p>
        There are no ACLs.
    </p>
{{/if}}
    {{/block-slot}}
{{/app-view}}