{{#app-view}}
    {{#block-slot 'header'}}
        <h1>
            ACL Tokens
        </h1>
    {{/block-slot}}
    {{#block-slot 'actions'}}
        <a href="{{href-to 'dc.acls.create'}}" class="type-create">Create</a>
    {{/block-slot}}
    {{#block-slot 'toolbar'}}
{{#if (gt items.length 0) }}
        {{acl-filter filters=typeFilters search=filters.s type=filters.type onchange=(action 'filter')}}
{{/if}}
    {{/block-slot}}
    {{#block-slot 'content'}}
{{#if (gt filtered.length 0)}}
        {{#tabular-collection
            items=filtered as |item index|
        }}
            {{#block-slot 'header'}}
                <th>Name</th>
                <th>Type</th>
            {{/block-slot}}
            {{#block-slot 'row'}}
                <td data-test-acl="{{item.Name}}">
                    <a href={{href-to 'dc.acls.edit' item.ID}}>{{item.Name}}</a>
                </td>
                <td>
                    {{#if (eq item.Type 'management')}}
                        <strong>{{item.Type}}</strong>
                    {{else}}
                        <span>{{item.Type}}</span>
                    {{/if}}
                </td>
            {{/block-slot}}
            {{#block-slot 'actions'}}
                <ul>
                    <li>
                        <a href="{{href-to 'dc.acls.edit' item.ID}}">Edit</a>
                    </li>
                    <li>
                        <a onclick={{action 'requestUse'}}>Use</a>
                    </li>
                    <li>
                        <a onclick={{action 'clone'}}>Clone</a>
                    </li>
                    <li>
                        {{#confirmation-dialog message='Are you sure you want to delete this ACL token?'}}
                            {{#block-slot 'action' as |confirm|}}
                                <a onclick={{action confirm 'delete' item}}>Delete</a>
                            {{/block-slot}}
                            {{#block-slot 'dialog'}}
                                <p>
                                    Are you sure you want to delete?
                                </p>
                                <button type="button" class="type-cancel" {{ action cancel}}>Cancel</button>
                            {{/block-slot}}
                        {{/confirmation-dialog}}
                    </li>
                </ul>
            {{/block-slot}}
        {{/tabular-collection}}
{{else}}
    <p>
        There are no ACLs.
    </p>
{{/if}}
    {{/block-slot}}
{{/app-view}}