{{#app-view}}
    {{#block-slot 'header'}}
        <a href={{href-to 'dc.nodes'}}>All Nodes</a>
        <h1>
            {{ model.Node }}
        </h1>
    {{/block-slot}}
    {{#block-slot 'content'}}
        {{tab-nav items=tabs}}
        {{#tab-section id=tabs.[0] selected=true}}
            <ul>
    {{#each model.Checks as |check| }}
                {{healthcheck-status tagName='li' name=check.Name status=check.status output=check.Output}}
    {{/each}}
            </ul>
        {{/tab-section}}
        {{#tab-section id=tabs.[1]}}
            {{freetext-filter onchange=(action 'filter') value=filter.s placeholder="Search by name"}}
            <table>
                <thead>
                    <tr>
                        <th>Service</th>
                        <th>Tags</th>
                    </tr>
                </thead>
                {{#tabular-collection
                    items=filtered
                    tagName=''
                    cell-layout=(fixed-grid-layout 1150 46) as |item index|
                }}
                        <td>
                            <a href={{href-to 'dc.services.show' item.Service }}>{{item.Service}}</a>
                        </td>
                        <td>
                            Need to switch API to the public catalog one
                        </td>
                {{/tabular-collection}}
            </table>
        {{/tab-section}}
        {{#tab-section id=tabs.[2]}}
            <h2>Network Tomography</h2>
            TOMOGRAPHY GRAPH GOES HERE
            {{!-- tomographyGraph tomography 336 --}}
            <dl>
                <dt>
                    Node
                </dt>
                <dd>
                    What goes here? This has never had anything in it
                </dd>
                <dt>
                    Minimum
                </dt>
                <dd>
                    {{ tomography.min }}ms
                </dd>
                <dt>
                    Median
                </dt>
                <dd>
                    {{ tomography.median }}ms
                </dd>
                <dt>
                    Maximum
                </dt>
                <dd>
                    {{ tomography.max }}ms
                </dd>
            </dl>
        {{/tab-section}}
        {{#tab-section id=tabs.[3]}}
{{#if sessions }}
        {{session-list items=sessions}}
{{else}}
        <p>
            There are no sessions
        </p>
{{/if}}
        {{/tab-section}}
    {{/block-slot}}
{{/app-view}}
