---
layout: "downloads"
page_title: "Download Consul"
sidebar_current: "downloads-consul"
description: |-
  Download Consul
---

<h1>Download Consul</h1>

<div class="alert alert-info" id="beta-1-7" role="alert">
  <p><strong>1.7.0 Beta Available:</strong> Read more about the new features coming in 1.7.0 in the
  <a href="https://www.hashicorp.com/blog/announcing-hashicorp-consul-1-7/">announcement post</a>. Binaries can be accessed on <a href="https://releases.hashicorp.com/consul/">releases.hashicorp.com</a>.
  </p>
</div>

<section class="downloads">
  <div class="description row">
    <div class="col-md-12">
      <p>
        Below are the available downloads for the latest version of Consul
        (<%= latest_version %>). Please download the proper package for your
        operating system and architecture.
      </p>
      <p>
        You can find the
        <a href="https://releases.hashicorp.com/consul/<%= latest_version %>/consul_<%= latest_version %>_SHA256SUMS">
          SHA256 checksums for Consul <%= latest_version %>
        </a>
        online and you can
        <a href="https://releases.hashicorp.com/consul/<%= latest_version %>/consul_<%= latest_version %>_SHA256SUMS.sig">
          verify the checksums signature file
        </a>
        which has been signed using <a href="https://hashicorp.com/security.html" target="_blank" rel="nofollow noopener noreferrer">HashiCorp's GPG key</a>.
        You can also <a href="https://releases.hashicorp.com/consul/" target="_blank" rel="nofollow noopener noreferrer">download older versions of Consul</a> from the releases service.
      </p>
      <p>
      Check out the <a href="https://github.com/hashicorp/consul/blob/v<%= latest_version %>/CHANGELOG.md">v<%= latest_version %> CHANGELOG</a> for information on the latest release.
      </p>
    </div>
  </div>

  <% product_versions.each do |os, arches| %>
    <% next if os == "web" %>
    <div class="row">
      <div class="col-md-12 download">
        <div class="icon pull-left"><%= system_icon(os) %></div>
        <div class="details">
          <h2 class="os-name g-type-display-4"><%= pretty_os(os) %></h2>
          <ul>
            <% arches.each do |arch, url| %>
              <li><a href="<%= url %>"><%= pretty_arch(arch) %></a></li>
            <% end %>
          </ul>
          <% if os == "linux" %>
            <div class="alert alert-warning" role="alert">
                <strong>Note for ARM users:</strong>
                <p>
                  Use <b>Armelv5</b> for all 32-bit armel systems<br>
                  Use <b>Armhfv6</b> for all armhf systems with v6+ architecture<br>
                  Use <b>Arm64</b> for all v8 64-bit architectures
                </p>
                <p>
                  The following commands can help determine the right version for your system:<br>
                    <code>$ uname -m</code><br>
                    <code>$ readelf -a /proc/self/exe | grep -q -c Tag_ABI_VFP_args && echo "armhf" || echo "armel"</code>
                </p>
            </div>
          <% end %>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12 poweredby">
      <a href="https://www.fastly.com?utm_source=hashicorp" target="_blank" rel="nofollow noopener noreferrer">
        <%= inline_svg "fastly.svg", height: 50 %>
      </a>
    </div>
  </div>
</section>
