{{#if item.ID }}
    {{title 'Edit Intention'}}
{{else}}
    {{title 'New Intention'}}
{{/if}}

<AppView @class="intention edit" @loading={{isLoading}}>
    <BlockSlot @name="notification" as |status type item error|>
      {{partial 'dc/intentions/notifications'}}
    </BlockSlot>
    <BlockSlot @name="breadcrumbs">
        <ol>
      {{#if (gt history.length 0)}}
          <li><a href={{href-to 'dc.services'}}>All Services</a></li>
        {{#let history.firstObject as |back|}}
          <li><a data-test-back href={{href-to back.key back.value}}>{{concat 'Service (' back.value ')'}}</a></li>
        {{/let}}
      {{else}}
          <li><a data-test-back href={{href-to 'dc.intentions'}}>All Intentions</a></li>
      {{/if}}
        </ol>
    </BlockSlot>
    <BlockSlot @name="header">
        <h1>
{{#if item.ID }}
            Edit Intention
{{else}}
            New Intention
{{/if}}
        </h1>
    </BlockSlot>
    <BlockSlot @name="actions">
{{#if (not create) }}
        <CopyButton @value={{item.ID}} @name="UUID">
            Copy UUID
        </CopyButton>
{{/if}}
    </BlockSlot>
    <BlockSlot @name="content">
      <ConsulIntentionForm
        @item={{item}}
        @services={{services}}
        @nspaces={{nspaces}}
        @ondelete={{action "route" "delete"}}
        @onsubmit={{action "route" (if item.isNew "create" "update")}}
        @oncancel={{action "route" "cancel"}}
      />
    </BlockSlot>
</AppView>