{{#if item.ID }}
    {{title 'Edit Intention'}}
{{else}}
    {{title 'New Intention'}}
{{/if}}

<AppView @class="intention edit" @loading={{isLoading}}>
    <BlockSlot @name="notification" as |status type|>
      {{partial 'dc/intentions/notifications'}}
    </BlockSlot>
    <BlockSlot @name="breadcrumbs">
        <ol>
            <li><a data-test-back href={{href-to 'dc.intentions'}}>All Intentions</a></li>
        </ol>
    </BlockSlot>
    <BlockSlot @name="header">
        <h1>
{{#if item.ID }}
            Edit Intention
{{else}}
            New Intention
{{/if}}
        </h1>
    </BlockSlot>
    <BlockSlot @name="actions">
{{#if (not create) }}
        <FeedbackDialog @type="inline">
            <BlockSlot @name="action" as |success error|>
                <CopyButton @success={{action success}} @error={{action error}} @clipboardText={{item.ID}} @title="copy UUID to clipboard">
                    Copy UUID
                </CopyButton>
            </BlockSlot>
            <BlockSlot @name="success" as |transition|>
                <p class={{transition}}>
                    Copied UUID!
                </p>
            </BlockSlot>
            <BlockSlot @name="error" as |transition|>
                <p class={{transition}}>
                    Sorry, something went wrong!
                </p>
            </BlockSlot>
        </FeedbackDialog>
{{/if}}
    </BlockSlot>
    <BlockSlot @name="content">
        {{ partial 'dc/intentions/form'}}
    </BlockSlot>
</AppView>