{{#if item.ID}}
    {{title 'Edit Intention'}}
{{else}}
    {{title 'New Intention'}}
{{/if}}
<AppView @class="intention edit">
    <BlockSlot @name="breadcrumbs">
        <ol>
          <li><a data-test-back href={{href-to 'dc.intentions'}}>All Intentions</a></li>
        </ol>
    </BlockSlot>
    <BlockSlot @name="header">
        <h1>
{{#if item.ID }}
            Edit Intention
{{else}}
            New Intention
{{/if}}
        </h1>
    </BlockSlot>
    <BlockSlot @name="actions">
{{#if item.ID}}
        <CopyButton @value={{item.ID}} @name="UUID">
            Copy UUID
        </CopyButton>
{{/if}}
    </BlockSlot>
    <BlockSlot @name="content">
      <ConsulIntentionForm
        @item={{item}}
        @dc={{dc}}
        @nspace={{nspace}}
        @onsubmit={{transition-to 'dc.intentions.index' dc}}
      />
    </BlockSlot>
</AppView>