{{title 'Intentions'}}
<AppView @class="intention list">
    <BlockSlot @name="notification" as |status type|>
      {{partial 'dc/intentions/notifications'}}
    </BlockSlot>
    <BlockSlot @name="header">
        <h1>
            Intentions <em>{{format-number items.length}} total</em>
        </h1>
        <label for="toolbar-toggle"></label>
    </BlockSlot>
    <BlockSlot @name="actions">
        <a data-test-create href="{{href-to 'dc.intentions.create'}}" class="type-create">Create</a>
    </BlockSlot>
    <BlockSlot @name="toolbar">
{{#if (gt items.length 0) }}
        <IntentionFilter @searchable={{searchable}} @selected={{currentFilter}} @filters={{actionFilters}} @search={{filters.s}} @type={{filters.action}} @onchange={{action "filter"}} />
{{/if}}
    </BlockSlot>
    <BlockSlot @name="content">
        <ChangeableSet @dispatcher={{searchable}}>
          <BlockSlot @name="set" as |filtered|>
            <ConsulIntentionList
              @items={{filtered}}
              @ondelete={{action "route" "delete"}}
            />
          </BlockSlot>
          <BlockSlot @name="empty">
            <EmptyState @allowLogin={{true}}>
              <BlockSlot @name="header">
                <h2>Welcome to Intentions</h2>
              </BlockSlot>
              <BlockSlot @name="body">
                <p>
                  There don't seem to be any intentions, or you may not have access to view intentions yet.
                </p>
              </BlockSlot>
              <BlockSlot @name="actions">
                <li class="docs-link">
                  <a href="{{env 'CONSUL_DOCS_URL'}}/commands/intention" rel="noopener noreferrer" target="_blank">Documentation on intentions</a>
                </li>
                <li class="learn-link">
                  <a href="{{env 'CONSUL_DOCS_LEARN_URL'}}/consul/getting-started/connect" rel="noopener noreferrer" target="_blank">Read the guide</a>
                </li>
              </BlockSlot>
            </EmptyState>
          </BlockSlot>
        </ChangeableSet>
    </BlockSlot>
</AppView>