{{title 'Intentions'}}
<DataLoader @src={{concat '/' nspace '/' dc '/intentions'}} as |api|>

  <BlockSlot @name="error">
    <AppError @error={{api.error}} />
  </BlockSlot>

  <BlockSlot @name="loaded">
{{#let api.data as |items|}}
  {{#let (hash
    accesses=(if access (split access ',') undefined)
  ) as |filters|}}
    {{#let (or sortBy "Action:asc") as |sort|}}
      <AppView>
        <BlockSlot @name="header">
            <h1>
                Intentions <em>{{format-number items.length}} total</em>
            </h1>
            <label for="toolbar-toggle"></label>
        </BlockSlot>
        <BlockSlot @name="actions">
            <a data-test-create href="{{href-to 'dc.intentions.create'}}" class="type-create">Create</a>
        </BlockSlot>
        <BlockSlot @name="toolbar">
  {{#if (gt items.length 0) }}
          <ConsulIntentionSearchBar
            @search={{search}}
            @onsearch={{action (mut search) value="target.value"}}

            @sort={{sort}}
            @onsort={{action (mut sortBy) value="target.selected"}}

            @filter={{filters}}
            @onfilter={{hash
              access=(action (mut access) value="target.selectedItems")
            }}
            />
  {{/if}}
        </BlockSlot>
        <BlockSlot @name="content">
    {{#let (filter (filter-predicate 'intention' filters) items) as |filtered|}}
      {{#let (sort-by (comparator 'intention' sort) filtered) as |sorted|}}
            <ChangeableSet @dispatcher={{searchable 'intention' sorted}} @terms={{search}}>
              <BlockSlot @name="content" as |searched|>
                <ConsulIntentionList
                  @items={{searched}}
                  @ondelete={{refresh-route}}
                  >
                    <EmptyState @allowLogin={{true}}>
                      <BlockSlot @name="header">
                        <h2>
                          {{#if (gt items.length 0)}}
                            No intentions found
                          {{else}}
                            Welcome to Intentions
                          {{/if}}
                        </h2>
                      </BlockSlot>
                      <BlockSlot @name="body">
                        <p>
                          {{#if (gt items.length 0)}}
                            No intentions where found matching that search, or you may not have access to view the intentions you are searching for.
                          {{else}}
                            There don't seem to be any intentions, or you may not have access to view intentions yet.
                          {{/if}}
                        </p>
                      </BlockSlot>
                      <BlockSlot @name="actions">
                        <li class="docs-link">
                          <a href="{{env 'CONSUL_DOCS_URL'}}/commands/intention" rel="noopener noreferrer" target="_blank">Documentation on intentions</a>
                        </li>
                        <li class="learn-link">
                          <a href="{{env 'CONSUL_DOCS_LEARN_URL'}}/consul/getting-started/connect" rel="noopener noreferrer" target="_blank">Read the guide</a>
                        </li>
                      </BlockSlot>
                    </EmptyState>
                </ConsulIntentionList>
              </BlockSlot>
            </ChangeableSet>
      {{/let}}
    {{/let}}
          </BlockSlot>
        </AppView>
    {{/let}}
  {{/let}}
{{/let}}
  </BlockSlot>
</DataLoader>