<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title><%= title_for(current_page) %></title>
    <meta name="description" content="<%= current_page.data.description %>" />

    <%= stylesheet_link_tag "application" %>

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">

    <link rel="shortcut icon" href="<%= image_path('favicon.png') %>">

    <script type="text/javascript" src="//use.typekit.net/kgv0shi.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <%= yield_content :head %>
  </head>

  <body class="page-<%= current_page.data.page_title ? "#{current_page.data.page_title} layout-#{current_page.data.layout} page-sub" : "home layout-#{current_page.data.layout}" %>">
    <div id="header" class="<%= current_page.data.page_title == "home" ? "" : "navbar-static-top" %>">
        <div class="container">
    		<div class="navbar-header">
    		  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="brand">
    		      <a class="logo" href="/"></a>
              </div>
    		</div>
    		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
    			<ul class="buttons nav navbar-nav navbar-right rls-sb">
    				<li class="first download outline-btn"><a href="/downloads.html">Download</a></li>
    				<li class="github outline-btn"><a href="https://github.com/hashicorp/consul">GitHub</a></li>
    			</ul>

    			<ul class="main-links nav navbar-nav navbar-right rls-sb">
    				<li class="first li-under"><a href="/intro/index.html">Intro</a></li>
    				<li class="li-under"><a href="/docs/index.html">Docs</a></li>
            <li class="li-under"><a href="/community.html">Community</a></li>
    				<li class="li-under"><a href="http://demo.consul.io/">Demo</a></li>
    			</ul>
    		</nav>
        </div>
    </div>
