<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title><%= title_for(current_page) %></title>
    <meta name="description" content="<%= current_page.data.description %>" />

    <%= stylesheet_link_tag "application" %>

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">

    <link rel="shortcut icon" href="<%= image_path('favicon.png') %>">

    <script type="text/javascript" src="//use.typekit.net/kgv0shi.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <%= yield_content :head %>
  </head>

  <body class="page-<%= current_page.data.page_title ? "#{current_page.data.page_title} layout-#{current_page.data.layout} page-sub" : "home layout-#{current_page.data.layout}" %>">
    <div id="header" class="navigation <%= current_page.data.page_title == "home" ? "" : "navbar-static-top" %>">
    	<div class="container">
    		<div class="row">
    			<div class="col-xs-12">
    				<div class="navbar-header">
    					<div class="navbar-brand">
    						<a class="logo" href="/"><img src="<%= image_path('wordtype@2x.png') %>" width="96px" height="18px">Consul</a>
    						<a class="by-hashicorp white" href="https://hashicorp.com/"><span class="svg-wrap">by</span><%= partial "layouts/svg/svg-by-hashicorp" %><%= partial "layouts/svg/svg-hashicorp-logo" %>Hashicorp</a>
    					</div>
    					<button class="navbar-toggle white" type="button">
    						<span class="sr-only">Toggle navigation</span>
    						<span class="icon-bar"></span>
    						<span class="icon-bar"></span>
    						<span class="icon-bar"></span>
    					</button>
    				</div>
    				<div class="buttons hidden-xs">
    					<nav class="navigation-links" role="navigation">
    						<ul class="external-links white nav navbar-nav navbar-right">
    							<li class="first download">
    								<a href="/downloads.html"><%= partial "layouts/svg/svg-download" %>Download</a>
    							</li>
    							<li class="github">
    								<a href="https://github.com/hashicorp/consul"><%= partial "layouts/svg/svg-github" %>GitHub</a>
    							</li>
    						</ul>
    						<ul class="main-links white nav navbar-nav navbar-right">
    							<li class="first li-under"><a href="/intro/index.html">Intro</a></li>
    							<li class="li-under"><a href="/docs/index.html">Docs</a></li>
    							<li class="li-under"><a href="/community.html">Community</a></li>
                  <li class="li-under"><a href="http://demo.consul.io/">Demo</a></li>
    						</ul>
    					</nav>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
