<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li<%= sidebar_current("docs-home") %>>
				<a href="/docs/index.html">Documentation Home</a>
				</li>

				<li<%= sidebar_current("docs-upgrading") %>>
				<a href="/docs/upgrading.html">Upgrading and Compatibility</a>
				<ul class="nav">
					<li<%= sidebar_current("docs-upgrading-upgrading") %>>
					<a href="/docs/upgrading.html">Upgrading Consul</a>
					</li>

					<li<%= sidebar_current("docs-upgrading-compat") %>>
					<a href="/docs/compatibility.html">Compatibility Promise</a>
                                        </li>

					<li<%= sidebar_current("docs-upgrading-specific") %>>
					<a href="/docs/upgrade-specific.html">Specific Version Details</a>
					</li>
				</ul>
				</li>

				<li<%= sidebar_current("docs-internals") %>>
				<a href="/docs/internals/index.html">Consul Internals</a>
				<ul class="nav">
					<li<%= sidebar_current("docs-internals-architecture") %>>
					<a href="/docs/internals/architecture.html">Architecture</a>
					</li>

					<li<%= sidebar_current("docs-internals-consensus") %>>
					<a href="/docs/internals/consensus.html">Consensus Protocol</a>
					</li>

					<li<%= sidebar_current("docs-internals-gossip") %>>
					<a href="/docs/internals/gossip.html">Gossip Protocol</a>
					</li>

					<li<%= sidebar_current("docs-internals-coordinates") %>>
					<a href="/docs/internals/coordinates.html">Network Coordinates</a>
					</li>

					<li<%= sidebar_current("docs-internals-sessions") %>>
					<a href="/docs/internals/sessions.html">Sessions</a>
					</li>

					<li<%= sidebar_current("docs-internals-acl") %>>
					<a href="/docs/internals/acl.html">ACLs</a>
					</li>

					<li<%= sidebar_current("docs-internals-anti-entropy") %>>
					<a href="/docs/internals/anti-entropy.html">Anti-Entropy</a>
					</li>

					<li<%= sidebar_current("docs-internals-security") %>>
					<a href="/docs/internals/security.html">Security Model</a>
					</li>

					<li<%= sidebar_current("docs-internals-jepsen") %>>
					<a href="/docs/internals/jepsen.html">Jepsen Testing</a>
					</li>
				</ul>
				</li>

				<li<%= sidebar_current("docs-commands") %>>
				<a href="/docs/commands/index.html">Consul Commands (CLI)</a>
				<ul class="nav">
					<li<%= sidebar_current("docs-commands-agent") %>>
					<a href="/docs/commands/agent.html">agent</a>
					</li>

					<li<%= sidebar_current("docs-commands-configtest") %>>
					<a href="/docs/commands/configtest.html">configtest</a>
					</li>

					<li<%= sidebar_current("docs-commands-event") %>>
					<a href="/docs/commands/event.html">event</a>
					</li>

					<li<%= sidebar_current("docs-commands-exec") %>>
					<a href="/docs/commands/exec.html">exec</a>
					</li>

					<li<%= sidebar_current("docs-commands-forceleave") %>>
					<a href="/docs/commands/force-leave.html">force-leave</a>
					</li>

					<li<%= sidebar_current("docs-commands-join") %>>
					<a href="/docs/commands/join.html">join</a>
					</li>

					<li<%= sidebar_current("docs-commands-keygen") %>>
					<a href="/docs/commands/keygen.html">keygen</a>
					</li>

					<li<%= sidebar_current("docs-commands-keyring") %>>
					<a href="/docs/commands/keyring.html">keyring</a>
					</li>

					<li<%= sidebar_current("docs-commands-leave") %>>
					<a href="/docs/commands/leave.html">leave</a></li>

					<li<%= sidebar_current("docs-commands-lock") %>>
					<a href="/docs/commands/lock.html">lock</a>
					</li>

					<li<%= sidebar_current("docs-commands-maint") %>>
					<a href="/docs/commands/maint.html">maint</a>
					</li>

					<li<%= sidebar_current("docs-commands-members") %>>
					<a href="/docs/commands/members.html">members</a>
					</li>

					<li<%= sidebar_current("docs-commands-monitor") %>>
					<a href="/docs/commands/monitor.html">monitor</a>
					</li>

					<li<%= sidebar_current("docs-commands-info") %>>
					<a href="/docs/commands/info.html">info</a>
					</li>

					<li<%= sidebar_current("docs-commands-reload") %>>
					<a href="/docs/commands/reload.html">reload</a>
					</li>

					<li<%= sidebar_current("docs-commands-rtt") %>>
					<a href="/docs/commands/rtt.html">rtt</a>
					</li>

					<li<%= sidebar_current("docs-commands-watch") %>>
					<a href="/docs/commands/watch.html">watch</a>
					</li>
				</ul>
				</li>

				<li<%= sidebar_current("docs-agent") %>>
				<a href="/docs/agent/basics.html">Consul Agent</a>
				<ul class="nav">
					<li<%= sidebar_current("docs-agent-running") %>>
					<a href="/docs/agent/basics.html">Running and Stopping</a>
					</li>

					<li<%= sidebar_current("docs-agent-dns") %>>
					<a href="/docs/agent/dns.html">DNS Interface</a>
					</li>

					<li<%= sidebar_current("docs-agent-http") %>>
					<a href="/docs/agent/http.html">HTTP API</a>
					<ul class="subnav">
						<li<%= sidebar_current("docs-agent-http-acl") %>>
						<a href="/docs/agent/http/acl.html">ACLs</a>
						</li>

						<li<%= sidebar_current("docs-agent-http-agent") %>>
						<a href="/docs/agent/http/agent.html">Agent</a>
						</li>

						<li<%= sidebar_current("docs-agent-http-catalog") %>>
						<a href="/docs/agent/http/catalog.html">Catalog</a>
						</li>

						<li<%= sidebar_current("docs-agent-http-event") %>>
						<a href="/docs/agent/http/event.html">Events</a>
						</li>

						<li<%= sidebar_current("docs-agent-http-health") %>>
						<a href="/docs/agent/http/health.html">Health Checks</a>
						</li>

						<li<%= sidebar_current("docs-agent-http-kv") %>>
						<a href="/docs/agent/http/kv.html">Key/Value Store</a>
						</li>

						<li<%= sidebar_current("docs-agent-http-coordinate") %>>
						<a href="/docs/agent/http/coordinate.html">Network Coordinates</a>
						</li>

						<li<%= sidebar_current("docs-agent-http-query") %>>
						<a href="/docs/agent/http/query.html">Prepared Queries</a>
						</li>

						<li<%= sidebar_current("docs-agent-http-session") %>>
						<a href="/docs/agent/http/session.html">Sessions</a>
						</li>

						<li<%= sidebar_current("docs-agent-http-status") %>>
						<a href="/docs/agent/http/status.html">Status</a>
						</li>
					</ul>
					</li>

					<li<%= sidebar_current("docs-agent-config") %>>
					<a href="/docs/agent/options.html">Configuration</a>
					</li>

					<li<%= sidebar_current("docs-agent-services") %>>
					<a href="/docs/agent/services.html">Service Definitions</a>
					</li>

					<li<%= sidebar_current("docs-agent-checks") %>>
					<a href="/docs/agent/checks.html">Check Definitions</a>
					</li>

					<li<%= sidebar_current("docs-agent-encryption") %>>
					<a href="/docs/agent/encryption.html">Encryption</a>
					</li>

					<li<%= sidebar_current("docs-agent-rpc") %>>
					<a href="/docs/agent/rpc.html">RPC Protocol</a>
					</li>

					<li<%= sidebar_current("docs-agent-telemetry") %>>
					<a href="/docs/agent/telemetry.html">Telemetry</a>
					</li>

					<li<%= sidebar_current("docs-agent-watches") %>>
					<a href="/docs/agent/watches.html">Watches</a>
					</li>
				</ul>

				<li<%= sidebar_current("docs-guides") %>>
				<a href="/docs/guides/index.html">Guides</a>
                <ul class="nav">
					<li<%= sidebar_current("docs-guides-atlas") %>>
					<a href="/docs/guides/atlas.html">Atlas Integration</a>
					</li>

					<li<%= sidebar_current("docs-guides-servers") %>>
					<a href="/docs/guides/servers.html">Adding/Removing Servers</a>
					</li>

					<li<%= sidebar_current("docs-guides-bootstrapping") %>>
					<a href="/docs/guides/bootstrapping.html">Bootstrapping</a>
					</li>

					<li<%= sidebar_current("docs-guides-dns-cache") %>>
					<a href="/docs/guides/dns-cache.html">DNS Caching</a>
					</li>

					<li<%= sidebar_current("docs-guides-forwarding") %>>
					<a href="/docs/guides/forwarding.html">DNS Forwarding</a>
					</li>

					<li<%= sidebar_current("docs-guides-external") %>>
					<a href="/docs/guides/external.html">External Services</a>
					</li>

					<li<%= sidebar_current("docs-guides-leader") %>>
					<a href="/docs/guides/leader-election.html">Leader Election</a>
					</li>

					<li<%= sidebar_current("docs-guides-datacenters") %>>
					<a href="/docs/guides/datacenters.html">Multiple Datacenters</a>
					</li>

					<li<%= sidebar_current("docs-guides-outage") %>>
					<a href="/docs/guides/outage.html">Outage Recovery</a>
                    </li>

                    <li<%= sidebar_current("docs-guides-semaphore") %>>
					<a href="/docs/guides/semaphore.html">Semaphore</a>
                    </li>
                </ul>

				<li<%= sidebar_current("docs-faq") %>>
				<a href="/docs/faq.html">Frequently Asked Questions</a>
				</li>
			</ul>
		</div>
	<% end %>

	<%= yield %>
	<% end %>
