<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <ul class="nav docs-sidenav">
      <li<%= sidebar_current("what") %>>
        <a href="/intro/index.html">What is Consul?</a>
      </li>

      <li<%= sidebar_current("vs-other") %>>
        <a href="/intro/vs/index.html">Consul vs. Other Software</a>
        <ul class="nav">
          <li<%= sidebar_current("vs-other-zk") %>>
            <a href="/intro/vs/zookeeper.html">ZooKeeper, doozerd, etcd</a>
          </li>
          <li<%= sidebar_current("vs-other-chef") %>>
            <a href="/intro/vs/chef-puppet.html">Chef, Puppet, etc.</a>
          </li>
          <li<%= sidebar_current("vs-other-nagios-sensu") %>>
            <a href="/intro/vs/nagios-sensu.html">Nagios, Sensu</a>
          </li>
          <li<%= sidebar_current("vs-other-skydns") %>>
            <a href="/intro/vs/skydns.html">SkyDNS</a>
          </li>
          <li<%= sidebar_current("vs-other-smartstack") %>>
            <a href="/intro/vs/smartstack.html">SmartStack</a>
          </li>
          <li<%= sidebar_current("vs-other-serf") %>>
            <a href="/intro/vs/serf.html">Serf</a>
          </li>
          <li<%= sidebar_current("vs-other-eureka") %>>
            <a href="/intro/vs/eureka.html">Eureka</a>
          </li>
          <li<%= sidebar_current("vs-other-istio") %>>
            <a href="/intro/vs/istio.html">Istio</a>
          </li>
          <li<%= sidebar_current("vs-other-proxies") %>>
            <a href="/intro/vs/proxies.html">Envoy and Other Proxies</a>
          </li>
          <li<%= sidebar_current("vs-other-custom") %>>
            <a href="/intro/vs/custom.html">Custom Solutions</a>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("start") %>>
        <a href="/intro/getting-started.html">Getting Started</a>
      </li>
    </ul>
  <% end %>

  <%= yield %>
<% end %>
