{{#app-view}}
    {{#block-slot 'breadcrumbs'}}
        <ol>
            <li><a href={{href-to 'dc.kv.index'}}>/</a></li>
{{#if (not-eq parent.Key '/') }}
{{#each (slice 0 -1 (split parent.Key '/')) as |breadcrumb index|}}
            <li><a href={{href-to 'dc.kv.folder' (join '/' (append (slice 0 (add index 1) (split parent.Key '/')) ''))}}>{{breadcrumb}}/</a></li>
{{/each}}
{{/if}}
        </ol>
    {{/block-slot}}
    {{#block-slot 'header'}}
        <h1>
{{#if item.Key }}
            {{left-trim item.Key parent.Key }}
{{/if}}
        </h1>
    {{/block-slot}}
    {{#block-slot 'content'}}
        {{partial 'dc/kv/form'}}
        {{#if item.isLocked}}
            <div>
                <h2>Lock Session</h2>
                <dl>
                    <dt>Name</dt>
                    <dd>{{session.Name}}</dd>
                    <dt>ID</dt>
                    <dd>{{session.ID}}</dd>
                    <dt>Behavior</dt>
                    <dd><{{session.Behavior}}/dd>
                    <dt>Delay</dt>
                    <dd><{{session.Delay}}/dd>
                    <dt>TTL</dt>
                    <dd>{{session.TTL}}</dd>
                    <dt>Health Checks</dt>
                    <dd>Checks in here</dd>
                </dl>
            {{#confirmation-dialog message='Are you sure you want to invalidate this session?'}}
                {{#block-slot 'action' as |confirm|}}
                    <button type="button" class="type-delete" {{ action confirm "invalidateSession" session }}>Invalidate Session</button>
                {{/block-slot}}
                {{#block-slot 'dialog'}}
                    <p>
                        Are you sure you want to invalidate this session?
                    </p>
                    <button type="button" class="type-cancel" {{ action cancel}}>Cancel</button>
                {{/block-slot}}
            {{/confirmation-dialog}}
            </div>
        {{/if}}
    {{/block-slot}}
{{/app-view}}