<ul data-test-proxy-exposed-paths>
{{#each items as |path|}}
  <li>
    <div>
{{#let (concat address ':' path.Path) as |combinedAddress|}}
      <p class="combined-address">
        <span>
          {{combinedAddress}}
        </span>
        <CopyButton
          @value={{combinedAddress}}
          @name="Address"
        />
      </p>
{{/let}}
    </div>
    <div>
      <ul>
      {{#if path.Protocol}}
        <li class="protocol">
          <span>
            <Tooltip>
                Protocol
            </Tooltip>
          </span>
          <span>
            {{path.Protocol}}
          </span>
        </li>
      {{/if}}
      {{#if path.ListenerPort}}
        <li class="port">
          <span>
            <Tooltip>
                Port
            </Tooltip>
          </span>
          <span>
            listening on :{{path.ListenerPort}}
          </span>
        </li>
      {{/if}}
      {{#if path.LocalPathPort}}
        <li class="port">
          <span>
            <Tooltip>
                Port
            </Tooltip>
          </span>
          <span>
            local port :{{path.LocalPathPort}}
          </span>
        </li>
      {{/if}}
      {{#if path.Path}}
        <li class="path">
          <span>
            <Tooltip>
                Path
            </Tooltip>
          </span>
          <span>
            {{path.Path}}
          </span>
        </li>
      {{/if}}
      </ul>
    </div>
  </li>
{{/each}}
</ul>
