{{yield}}
{{#if (not loading)}}
<header>
{{#each flashMessages.queue as |flash|}}
    {{#flash-message flash=flash as |component flash|}}
        {{! flashes automatically ucfirst the type }}

        <p data-notification class="{{lowercase component.flashType}} notification-{{lowercase flash.action}}">
          <strong>
            {{component.flashType}}!
          </strong>
          {{#yield-slot 'notification' (block-params (lowercase component.flashType) (lowercase flash.action) flash.item )}}{{yield}}{{/yield-slot}}
        </p>
    {{/flash-message}}
{{/each}}
    <div>
        <div class="actions">
  {{#if authorized}}
            {{#yield-slot 'actions'}}{{yield}}{{/yield-slot}}
  {{/if}}
        </div>

        <div>
  {{#if authorized}}
            <nav aria-label="Breadcrumb">
                {{#yield-slot 'breadcrumbs'}}{{yield}}{{/yield-slot}}
            </nav>
  {{/if}}
            {{#yield-slot 'header'}}{{yield}}{{/yield-slot}}
        </div>
    </div>
  {{#if authorized}}
    {{#yield-slot 'toolbar'}}
      <input type="checkbox" id="toolbar-toggle" />
      {{yield}}
    {{/yield-slot}}
  {{/if}}
</header>
{{/if}}
<div>
{{#if loading}}
    {{partial 'consul-loading'}}
{{else}}
    {{#if (not enabled) }}
      {{#yield-slot 'disabled'}}{{yield}}{{/yield-slot}}
    {{else if (not authorized)}}
      {{#yield-slot 'authorization'}}{{yield}}{{/yield-slot}}
    {{else}}
      {{#yield-slot 'content'}}{{yield}}{{/yield-slot}}
    {{/if}}
{{/if}}
</div>
