{{!<form>}}
    <FreetextFilter @searchable={{searchable}} @value={{search}} @placeholder="Search by Source or Destination" />
    <RadioGroup @keyboardAccess={{true}} @name="action" @value={{action}} @items={{filters}} @onchange={{action onchange}} />
{{!</form>}}