{{!<fieldset>}}
    <div role="radiogroup" id="radiogroup_{{name}}" data-test-radiogroup="{{name}}">{{! menu?}}
{{#each items as |item|}}
        <label class="type-radio value-{{item.value}}" data-test-radiobutton="{{name}}_{{item.value}}"> {{! slugify }}
            <input type="radio" name={{name}} value={{item.value}} checked={{if (eq (concat value) item.value) 'checked'}} onchange={{action onchange}} />
            <span>{{item.label}}</span>
        </label>
{{/each}}
    </div>
{{!</fieldset>}}
