{{yield}}
<div class="stats-card">
  <header>
    <YieldSlot @name="mini-stat">{{yield}}</YieldSlot>
    <YieldSlot @name="header">{{yield}}</YieldSlot>
    <YieldSlot @name="icon">{{yield}}</YieldSlot>
  </header>
  <YieldSlot @name="body">{{yield}}</YieldSlot>
</div>
