{{!<nav role="tablist">}}
    <ul>
{{#each items as |item|}}
        <li class={{if (or item.selected (eq selected (if item.label (slugify item.label) (slugify item)))) 'selected'}}>
            <label for="radiogroup_{{name}}_{{if item.label (slugify item.label) (slugify item)}}" data-test-radiobutton="{{name}}_{{if item.label (slugify item.label) (slugify item)}}" role="tab" aria-controls="radiogroup_{{name}}_{{if item.label (slugify item.label) (slugify item)}}_panel">
{{#if item.href }}
  <a href="{{ item.href }}">{{ item.label }}</a>
{{ else }}
  <a>{{ item }}</a>
{{/if}}
            </label>
        </li>
{{/each}}
    </ul>
{{!</nav>}}