{{yield}}
<table class="with-details has-actions">
  <thead>
    <tr>
      {{#yield-slot 'header'}}{{yield}}{{/yield-slot}}
      <th class="actions">Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each items as |item index|}}
      <tr data-test-tabular-row onclick={{action 'click'}}>
          {{#yield-slot 'row'}}{{yield item index}}{{/yield-slot}}
          <td class="actions">
            <label for={{concat inputId index}}><span>Show details</span></label>
          </td>
      </tr>
      <tr>
        <td colspan="3">
          <input type="checkbox" checked={{ not (is-empty item.closed) }} value={{index}} name={{name}} id={{concat inputId index}} onchange={{action 'change' item items}} />
          <div>
            <label for={{concat inputId index}}><span>Hide details</span></label>
            <div>
              {{#yield-slot 'details'}}
                {{yield item index}}
              {{/yield-slot}}
            </div>
          </div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
