{{yield}}
    <thead>
        <tr>
            {{#yield-slot 'header'}}{{yield}}{{/yield-slot}}
{{#if hasActions }}
            <th class="actions">Actions<input type="radio" name="actions" id="actions_close" onchange={{action change}} value="" /></th>
{{/if}}
        </tr>
    </thead>
    {{#ember-native-scrollable tagName='tbody' content-size=_contentSize scroll-left=_scrollLeft scroll-top=_scrollTop scrollChange=(action "scrollChange") clientSizeChange=(action "clientSizeChange")}}
        <tr></tr>
{{~#each _cells as |cell|~}}
        <tr data-test-tabular-row style={{{cell.style}}} onclick={{action 'click'}}>
            {{#yield-slot 'row'}}{{yield cell.item cell.index}}{{/yield-slot}}
{{#if hasActions }}
            <td class="actions">
                {{#yield-slot 'actions' (block-params (concat cell.index) change checked)}}{{yield cell.item cell.index}}{{/yield-slot}}
            </td>
{{/if}}
        </tr>
{{~/each~}}
    {{/ember-native-scrollable}}