<input type="checkbox" id={{concat 'toggle-button-' guid}} onchange={{action 'change'}} />
<label data-test-toggle-button={{name}} for={{concat 'toggle-button-' guid}}><a href="#" onclick={{action 'click'}}>{{yield}}</a></label>