<label data-test-new-role class="type-dialog" for="new-role-toggle">
  <span>Create new role</span>
  {{#modal-dialog data-test-role-form onclose=(action 'sendClearRole') name="new-role-toggle"}}
    {{#block-slot 'header'}}
      <h2>New Role</h2>
    {{/block-slot}}
    {{#block-slot 'body'}}
      {{#with role as |item|}}
        {{#with true as |hideRolePolicies|}}
          {{partial 'dc/acls/roles/fieldsets'}}
        {{/with}}
      {{/with}}
    {{/block-slot}}
    {{#block-slot 'actions' as |close|}}
      <button type="submit" {{action 'sendCreateRole' role item.Roles close}} disabled={{if (or role.isSaving role.isPristine role.isInvalid) 'disabled'}}>
        {{#if role.isSaving }}
          <div class="progress indeterminate"></div>
        {{/if}}
        <span>Create and apply</span>
      </button>
      <button type="reset" disabled={{if role.isSaving 'disabled'}} {{action close}}>Cancel</button>
    {{/block-slot}}
  {{/modal-dialog}}
</label>
<label class="type-text" data-test-role-element>
  <span>Apply an existing role</span>
      {{#power-select
        options=(difference roles item.Roles item.Roles.length)
        searchField='Name'
        searchPlaceholder='Type role name'
        onchange=(action 'change' 'Role') as |item|
      }}
        {{item.Name}}
      {{/power-select}}
</label>
{{#if (gt item.Roles.length 0)}}
    {{#with item as |token| }}
      {{#tabular-collection
          data-test-roles
          items=(sort-by 'CreateTime:desc' 'Name:asc' item.Roles) as |item index|
      }}
        {{#block-slot 'header'}}
          <th>Name</th>
          <th>Description</th>
        {{/block-slot}}
        {{#block-slot 'row'}}
          <td>
            <a href={{href-to 'dc.acls.roles.edit' item.ID}}>{{item.Name}}</a>
          </td>
          <td>
            {{item.Description}}
          </td>
        {{/block-slot}}
        {{#block-slot 'actions' as |index change checked|}}
          {{#confirmation-dialog confirming=false index=index message="Are you sure you want to remove this Role?"}}
            {{#block-slot 'action' as |confirm|}}
                {{#action-group index=index onchange=(action change) checked=(if (eq checked index) 'checked')}}
                    <ul>
                        <li>
                            <a data-test-edit href={{href-to 'dc.acls.roles.edit' item.ID}}>Edit</a>
                        </li>
                        <li>
                            <button type="button" class="type-delete" data-test-delete {{action confirm 'remove' item token.Roles}}>Remove</button>
                        </li>
                    </ul>
                {{/action-group}}
            {{/block-slot}}
            {{#block-slot 'dialog' as |execute cancel message name|}}
              {{delete-confirmation message=message execute=execute cancel=cancel}}
            {{/block-slot}}
          {{/confirmation-dialog}}
        {{/block-slot}}
      {{/tabular-collection}}
    {{/with}}
{{/if}}
