{{#if isAuthorized }}
  {{#if item.ID}}
    {{title 'Edit Role'}}
  {{else}}
    {{title 'New Role'}}
  {{/if}}
{{else}}
  {{title 'Access Controls'}}
{{/if}}
<AppView
  @class={{concat "role " (if isAuthorized "edit" "list")}}
  @loading={{isLoading}}
  @authorized={{isAuthorized}}
  @enabled={{isEnabled}}
  >
    <BlockSlot @name="notification" as |status type item error|>
      {{partial 'dc/acls/roles/notifications'}}
    </BlockSlot>
    <BlockSlot @name="disabled">
      {{partial 'dc/acls/disabled'}}
    </BlockSlot>
    <BlockSlot @name="authorization">
      {{partial 'dc/acls/authorization'}}
    </BlockSlot>
    <BlockSlot @name="breadcrumbs">
        <ol>
            <li><a data-test-back href={{href-to 'dc.acls.roles'}}>All Roles</a></li>
        </ol>
    </BlockSlot>
    <BlockSlot @name="header">
        <h1>
{{#if isAuthorized }}
  {{#if create }}
            New Role
  {{else}}
            Edit Role
  {{/if}}
{{else}}
            Access Controls
{{/if}}
        </h1>
    </BlockSlot>
    <BlockSlot @name="content">
      {{ partial 'dc/acls/roles/form'}}
    </BlockSlot>
</AppView>