<header role="banner">
    <a href="#"></a>
    <nav>
        <ul>
            <li>
                {{#link-to 'dc.services'}}Services{{/link-to}}
            </li>
            <li>
                {{#link-to 'dc.nodes'}}Nodes{{/link-to}}
            </li>
            <li>
                {{#link-to 'dc.kv'}}Key/Value{{/link-to}}
            </li>
            <li>
                {{#link-to 'dc.acls'}}ACL{{/link-to}}
            </li>
            <li>
            {{! TODO: component }}
                <a class="{{if hasFailingChecks "btn-warning" "btn-success" }}" {{action "toggle"}}>{{dc}}</a>
                {{#if isDropdownVisible}}
                    <ul>
                        {{#each dcs as |dc|}}
                            <li {{action "hideDrop"}}>{{#link-to 'dc.services' dc}}{{dc}}{{/link-to}}</li>
                        {{/each}}
                    </ul>
                {{/if}}
            </li>
            <li>
                {{#link-to 'settings'}}
                    Settings
                {{/link-to}}
            </li>
        </ul>
    </nav>
</header>
<main>
{{outlet}}
</main>
