<div id="wrapper">
    <header role="banner">
        <a href={{href-to 'index'}}>Consul</a>
        <nav>
            <ul>
                <li>
                    <a {{action "toggle"}}>{{dc}}</a>
{{#if isDropdownVisible}}
                    {{datacenter-picker items=dcs}}
{{/if}}
                </li>
                <li>
                    <a href={{href-to 'dc.services'}}>Services</a>
                </li>
                <li>
                    <a href={{href-to 'dc.nodes'}}>Nodes</a>
                </li>
                <li>
                    <a href={{href-to 'dc.kv'}}>Key/Value</a>
                </li>
                <li>
                    <a href={{href-to 'dc.acls'}}>ACL</a>
                </li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li>
                    <a href="#">Documentation</a>
                </li>
                <li>
                    <a href={{href-to 'settings'}}>Settings</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
{{outlet}}
    </main>
    <footer>
        <p>&copy; 0000 HashiCorp</p>
        <a href="#">Consul 0.0</a>
        <a href="#">Documentation</a>
    </footer>
</div>
